<footer class="footer news-footer">
  <div class="container">
    <div class="footer__invite">
      <div class="footer__invite-logo">
        <a href="/">
          <div class="footer__invite-logo__thumb">
            <img src="./img/logotype.png" alt="Novatek">

          </div>
        </a>
      </div>

      <div class="footer__invite-item">
        <a title="Пропозиції" href="#!">
          Пропозиції
        </a>
      </div>
    </div>

    <div class="footer__wrap">

      <div class="footer__nav">

        <ul class="footer__nav-prod">
          <li class="uniq-link">
            <a href="#!" target="_blank" title="Продукція">
              Продукція
            </a>
          </li>

          <div class="footer__nav-prod_lists">
            <div>
              <li>
                <a target="_blank" class="footer__nav-prod_lists-link" title="Однофазні реле напруги" href="#!">
                  Однофазні реле напруги
                </a>
              </li>

              <li>
                <a target="_blank" class="footer__nav-prod_lists-link" title="Трифазні реле напруги" href="#!">
                  Трифазні реле напруги
                </a>
              </li>

              <li>
                <a target="_blank" class="footer__nav-prod_lists-link" title="Багатофункціональні реле часу" href="#!">
                  Багатофункціональні реле часу
                </a>
              </li>

              <li>
                <a target="_blank" class="footer__nav-prod_lists-link" title="Програмовані таймери" href="#!">
                  Програмовані таймери
                </a>
              </li>

              <li>
                <a target="_blank" class="footer__nav-prod_lists-link" title="Перемикачі фаз" href="#!">
                  Перемикачі фаз
                </a>
              </li>

              <li>
                <a target="_blank" class="footer__nav-prod_lists-link" title="Струмові реле і обмежувачі потужності"
                  href="#!">
                  Струмові реле і обмежувачі потужності
                </a>
              </li>

              <li>
                <a target="_blank" class="footer__nav-prod_lists-link" title="Перемикачі фаз" href="#!">
                  Перемикачі фаз
                </a>
              </li>

              <li>
                <a target="_blank" class="footer__nav-prod_lists-link"
                  title="Пристрої захисту асинхронних електродвигунів" href="#!">
                  Пристрої захисту асинхронних електродвигунів
                </a>
              </li>

              <li>
                <a target="_blank" class="footer__nav-prod_lists-link" title="Температурні контролери" href="#!">
                  Температурні контролери
                </a>
              </li>

              <li>
                <a target="_blank" class="footer__nav-prod_lists-link" title="Пристрої з WI-FI управлінням" href="#!">
                  Пристрої з WI-FI управлінням
                </a>
              </li>

              <li>
                <a target="_blank" class="footer__nav-prod_lists-link"
                  title="Прилади захисту від імпульсних перенапруг (ОПН)" href="#!">
                  Прилади захисту від імпульсних перенапруг (ОПН)
                </a>
              </li>
            </div>

            <div>
              <li>
                <a target="_blank" class="footer__nav-prod_lists-link" title="Контролери насосних станцій" href="#!">
                  Контролери насосних станцій
                </a>
              </li>

              <li>
                <a target="_blank" class="footer__nav-prod_lists-link" title="Реєстратори електричних процесів"
                  href="#!">
                  Реєстратори електричних процесів
                </a>
              </li>

              <li>
                <a target="_blank" class="footer__nav-prod_lists-link" title="Вимірювальні трансформатори струму"
                  href="#!">
                  Вимірювальні трансформатори струму
                </a>
              </li>

              <li>
                <a target="_blank" class="footer__nav-prod_lists-link"
                  title="Готові рішення для промислової автоматизації" href="#!">
                  Готові рішення для промислової автоматизації
                </a>
              </li>

              <li>
                <a target="_blank" class="footer__nav-prod_lists-link" title="Блоки живлення" href="#!">
                  Блоки живлення
                </a>
              </li>

              <li>
                <a target="_blank" class="footer__nav-prod_lists-link" title="Джерела безперебійного електроживлення"
                  href="#!">
                  Джерела безперебійного електроживлення
                </a>
              </li>

              <li>
                <a target="_blank" class="footer__nav-prod_lists-link" title="Стабілізатори напруги" href="#!">
                  Стабілізатори напруги
                </a>
              </li>

              <li>
                <a target="_blank" class="footer__nav-prod_lists-link" title="Прилади індикації та контролю" href="#!">
                  Прилади індикації та контролю
                </a>
              </li>

              <li>
                <a target="_blank" class="footer__nav-prod_lists-link"
                  title="Прилади попереднього контролю опору ізоляції" href="#!">
                  Прилади попереднього контролю опору ізоляції
                </a>
              </li>

              <li>
                <a target="_blank" class="footer__nav-prod_lists-link" title="Контролери реактивної потужності"
                  href="#!">
                  Контролери реактивної потужності
                </a>
              </li>

              <li>
                <a target="_blank" class="footer__nav-prod_lists-link" title="Температурні датчики" href="#!">
                  Температурні датчики
                </a>
              </li>
            </div>

          </div>
        </ul>

        <ul class="footer__nav-material">
          <li class="uniq-link">
            <a href="#!" target="_blank" title="Матеріали">
              Матеріали
            </a>
          </li>

          <li>
            <a target="_blank" class="footer__nav-prod_lists-link" class title="Каталог в PDF" href="#!">
              Каталог в PDF
            </a>
          </li>
          <li>
            <a target="_blank" class="footer__nav-prod_lists-link" class title="Iнтеграктивний прайс" href="#!">
              Iнтеграктивний прайс
            </a>
          </li>
          <li>
            <a target="_blank" class="footer__nav-prod_lists-link" class title="Программне забезпечення" href="#!">
              Программне забезпечення
            </a>
          </li>
          <li>
            <a target="_blank" class="footer__nav-prod_lists-link" class title="POSM-матеріали" href="#!">
              POSM-матеріали
            </a>
          </li>

          <div class="footer__nav-material_item">
            <a target="_blank" title="Послуги" href="#!">Послуги</a>
            <a target="_blank" title="Гарантія" href="#!">Гарантія</a>
            <a target="_blank" title="Доставка і оплата" href="#!">Доставка і оплата</a>
          </div>

        </ul>

        <ul class="footer__nav-news">
          <li>
            <a target="_blank" title="Про компанію" href="#!">
              Про компанію
            </a>
          </li>
          <li>
            <a target="_blank" title="Новини" href="#!">
              Новини
            </a>
          </li>
          <li>
            <a target="_blank" title="Блог" href="#!">
              Блог
            </a>
          </li>
          <li>
            <a target="_blank" title="Дилери" href="#!">
              Дилери
            </a>
          </li>

          <li>
            <a target="_blank" title="Контакти" href="#!">
              Контакти
            </a>
          </li>


        </ul>

        <ul class="footer__nav-social">
          <li>
            <a target="_blank" title="Facebook" href="#!">
              <img src="./img/facebook-ico.svg" alt="Facebook">
            </a>
          </li>

          <li>
            <a target="_blank" title="Instagram" href="#!">
              <img src="./img/insta-ico.svg" alt="Instagram">
            </a>
          </li>

          <li>
            <a target="_blank" title="Viber" href="#!">
              <img src="./img/viber-ico.svg" alt="Viber">
            </a>
          </li>

          <li>
            <a target="_blank" title="YouTube" href="#!">
              <img src="./img/youtube-ico.svg" alt="YouTube">
            </a>
          </li>
        </ul>
      </div>

    </div>

    <div class="footer__police">
      <p>
        ТОВ "Новатек Електро" - Директор Богачов О.М, ІПН 310950015523, КОД ОКПО 31095003
      </p>

      <div class="footer__police-item">
        <a title="Договір публічної оферти" target="_blank" href="#!">
          Договір публічної оферти
        </a>

        <a title="Політика конфіденційності" target="_blank" href="#!">
          Політика конфіденційності
        </a>
      </div>
    </div>

  </div>
</footer>