<header class="header__cart">
    <div class="container">
        <div class="header-container">

            <div class="header__cart-main">

                <div class="header__cart-main_logo">
                    <a href="/">
                        <img src="./img/logo-cart.png" alt="Novatek">
                    </a>
                </div>


                <div class="header__cart-main_link">
                    <a href="/">На головну</a>
                </div>




            </div>

            <div class="header__cart-support">
                <div class="header__cart-support_title">
                    <h4>Служба підтримки:</h4>
                </div>

                <div class="header__cart-support_phone">
                    <a href="tel:+380675653768">+38 (067) 565-37-68</a>
                    <a href="tel:+380503593911">+38 (050) 359-39-11</a>
                </div>
            </div>

            <!-- mobile icon -->
            <div class="header__cart-support_mobile">
                <div class="mobile-home">
                    <a href="/">
                        <img src="./img/home-icon.svg" alt="Home">
                    </a>
                </div>
                <div class="mobile-phone" id="newPhoneIcon">
                    <a href="#!">
                        <img src="./img/phone-icon.svg" alt="Phone">
                    </a>
                </div>
            </div>
            <!-- mobile icon -->
        </div>
    </div>

    <!-- phone modal -->
    <div class="mobile__phone-modal">
        <div class="mobile__phone-modal__content">
            <div class="header__cart-support_title">
                <h4>Служба підтримки:</h4>
            </div>

            <div class="header__cart-support_phone">
                <a href="tel:+380675653768">+38 (067) 565-37-68</a>
                <a href="tel:+380503593911">+38 (050) 359-39-11</a>
            </div>

            <div class="mobile__phone-modal__content-close" id="newCloseIcon">
                <img src="./img/close-burger.svg" alt="Close">
            </div>
        </div>
    </div>
    <!-- phone modal -->

</header>