<section class="delivery">
    <div class="container">


        <div class="delivery__bread">
            <p>
                Головна - Доставка i оплата
            </p>
        </div>

        <div class="delivery__title">
            <h1>
                доставка і оплата
            </h1>
        </div>

        <div class="delivery__content">
            <div class="delivery__content-subtitle">
                <h2>
                    Доставка по всій Україні
                </h2>
            </div>

            <div class="delivery__content-banners">
                <div class="delivery__content-banners__item">
                    <div class="delivery__content-banners__item-img">
                        <img src="./img/novaBanner.jpg" alt="Nova Poshta">
                    </div>
                    <div class="delivery__content-banners__item-descr">
                        <ul>
                            <li>
                                На відділення ” Нової пошти “
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="delivery__content-banners__item">
                    <div class="urk-banner delivery__content-banners__item-img">
                        <div class="banners__item-img__urk">
                            <img src="./img/urkBanner.jpg" alt="Urk Poshta">
                        </div>
                    </div>
                    <div class="delivery__content-banners__item-descr">
                        <ul>
                            <li>
                                На відділення ” Укрпошти “
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="delivery__content-banners__item">
                    <div class="delivery__content-banners__item-img">
                        <img src="./img/delBanner.jpg" alt="Delivery">
                    </div>
                    <div class="delivery__content-banners__item-descr">
                        <ul>
                            <li>
                                адресно кур’єром до під’їзду або будинку *
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="delivery__content-banners__descr">
                <p>
                    Відправка здійснюється протягом від 1 до 3 днів з моменту оплати зберігання посилки на відділенні
                    триває не довше 5
                    календарних днів, на 6 день посилка буде повернута
                    Зверніть увагу! При отриманні замовлення у відділенні пошти або кур’єром уважно перевіряйте його
                    склад. Якщо замовлення
                    укомплектоване невірно, зовнішній вигляд виробів зіпсований або самі вироби пошкоджені, відмовтеся
                    від отримання такого
                    замовлення обов’язково повідомте нам по телефону
                    <a href="tel:+380503593911">
                        <span>+38 (050) 359-39-11</span>
                    </a>
                    Для доставки товару в іншу країну пишіть свої запити через форму зворотного зв’язку в розділі
                    Контакти.
                    * За діючими тарифами
                    <a target="_blank" href="#!">
                        <span>“Нової пошти”</span>
                    </a>

                    або
                    <a target="_blank" href="#!">
                        <span>
                            “Нічного Експресу”
                        </span>
                    </a>

                    самовивіз в Одесі забрати Оформлене
                    замовлення можливо до
                    1700 в будні дні за попереднім погодженням (так як товар заздалегідь зі складу доставляється в пункт
                    видачі)
                </p>
            </div>

            <div class="delivery__content-pickup">
                <h2>Самовивіз в Одесі</h2>

                <p>
                    Забрати Оформлене замовлення можливо до 17:00 в будні дні за попереднім погодженням (тому що товар
                    попередньо зі складу
                    доставляється в пункт видачі)
                </p>

                <div class="delivery__content-pickup__img">
                    <img src="./img/pickupImg.jpg" alt="Pickup from Odesa">
                </div>
            </div>

            <div class="delivery__content-pay">
                <h2>Варіанти оплати:</h2>

                <div class="delivery__content-pay__content">
                    <div>
                        <h3 class="delivery-subtitle">
                            Безготівковий розрахунок
                        </h3>

                        <p class="delivery-description">
                            Наша компанія є платником ПДВ на загальних підставах.
                            При безготівковому розрахунку проводиться 100% передоплата на розрахунковий рахунок
                            підприємства. Для отримання
                            рахунку-фактури на факс або e-mail зв’яжіться з нами будь-яким зручним способом.
                            Після оплати рахунку прохання зв’язатися з нами для якнайшвидшого виконання замовлення. Наші
                            телефони ви знайдете вище.
                        </p>
                    </div>

                    <div>
                        <p class="delivery-description">
                            У разі порушення термінів оплати, збереження обумовленої ціни і наявність товару на складі
                            не гарантується. <br> Покупцеві надаються наступні документи:
                        </p>

                        <ul class="delivery-list">
                            <li>
                                оригінал рахунку;
                            </li>
                            <li>
                                договір купівлі-продажу;
                            </li>
                            <li>
                                накладна з ціною;
                            </li>
                            <li>
                                інструкція по експлуатації;
                            </li>
                            <li>
                                заповнений гарантійний талон.
                            </li>
                        </ul>


                    </div>

                    <div>
                        <h3 class="delivery-subtitle">
                            Готівковий розрахунок
                        </h3>

                        <ul class="delivery-list">
                            <li>
                                при самовивозі в пункті видачі товару;
                            </li>
                            <li>
                                або згідно видаткової накладної з кур’єром
                            </li>

                        </ul>
                    </div>

                    <div>
                        <h3 class="delivery-subtitle">
                            Післяплатою
                        </h3>

                        <ul class="delivery-list">
                            <li>
                                На відділенні Нової Пошти при отриманні вантажу.
                            </li>
                            <li>
                                На деякі види товарів діє тільки попередня 100% оплата.
                            </li>

                        </ul>
                    </div>

                    <div>
                        <h3 class="delivery-subtitle">
                            Оплата онлайн
                        </h3>

                        <p class="delivery-description">
                            Картками Visa, MasterCard будь-якого банку, в тому числі ПриватБанк і MonoBank
                        </p>
                    </div>

                </div>

                <div class="delivery__content-pay__banners">

                    <div class="delivery__content-pay__banners-img">
                        <div class="delivery__content-pay__banners-img__thumb">
                            <img src="./img/visaBanner.jpg" alt="Visa">
                        </div>

                        <div class="delivery__content-pay__banners-img__thumb">
                            <img src="./img/masterBanner.jpg" alt="MasterCard">
                        </div>

                        <div class="delivery__content-pay__banners-img__thumb">
                            <img src="./img/privatBanner.jpg" alt="PrivatBank">
                        </div>

                        <div class="delivery__content-pay__banners-img__thumb">
                            <img src="./img/monoBanner.jpg" alt="MonoBank">
                        </div>
                    </div>


                    <div class="delivery__content-pay__banners-info">
                        <p>
                            Оплата здійснюється виключно в національній валюті. На підтвердження оплати ми видаємо Вам
                            видаткову накладну.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>