<section class="cart__article" id="hiddenPage">
    <div class="container container-uniq">

        <div class="cart__article-bread">
            <p>
                Головна - Кошик
            </p>
        </div>


        <div class="cart__article-subtitle">
            <div class="cart__article-subtitle_item">
                <p>ціна</p>
                <p>кількість</p>
                <p>загальная вартість</p>
            </div>
        </div>

        <!-- CONTENT  -->
        <div class="cart-wrapper__main">
            <div class="cart__article-products">
                <div class=" empty-cart-message" style="display: none;">
                    Кошик порожній
                </div>

                <div class="cart-container__line">
                    <div class="cart__article-products_item">
                        <div class="border"></div>
                        <div class="cart__article-products_item-img">
                            <div class="product-img">
                                <img src="./img/cart-product-1.png" alt="Реле напруги РН-25t">
                            </div>

                            <div class="product-title">
                                <h3>Реле напруги РН-25t</h3>
                            </div>
                        </div>

                        <div class="cart__article-products_item-function">

                            <div class="price-item">
                                <span class="function-price">920 грн.</span>
                                <div class="function-tax">
                                    <span>НДС:</span>
                                    <span id="tax">184 грн.</span>
                                </div>
                            </div>

                            <div class="count-item">
                                <button class="minus-cart">
                                    <svg width="15" height="15" viewBox="0 0 15 15" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M12.0184 7.47183L2.73541 7.47183" stroke="#C8C8C8"
                                            stroke-width="1.54717" stroke-linecap="round" />
                                    </svg>
                                </button>
                                <span class="cart-num">1</span>
                                <button class="plus-cart">
                                    <svg width="17" height="17" viewBox="0 0 17 17" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M8.642 3.95905L8.63039 12.9842M4.11008 8.47162H13.1352"
                                            stroke="#89ACF2" stroke-width="1.54717" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                    </svg>
                                </button>
                            </div>

                            <div class="main-price">
                                <span class="function-price" id="main-price">920 грн.</span>
                                <div class="function-tax">
                                    <span>НДС:</span>
                                    <span id="main-tax">153 грн.</span>
                                </div>
                            </div>

                            <div class="trash-item">
                                <div class="trash-item__img" id="trash-delete">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M4 7H20M10 11V17M14 11V17M5 7L6 19C6 19.5304 6.21071 20.0391 6.58579 20.4142C6.96086 20.7893 7.46957 21 8 21H16C16.5304 21 17.0391 20.7893 17.4142 20.4142C17.7893 20.0391 18 19.5304 18 19L19 7M9 7V4C9 3.73478 9.10536 3.48043 9.29289 3.29289C9.48043 3.10536 9.73478 3 10 3H14C14.2652 3 14.5196 3.10536 14.7071 3.29289C14.8946 3.48043 15 3.73478 15 4V7"
                                            stroke="#FF0000" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                    </svg>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>


                <div class="cart-container__line">
                    <div class="cart__article-products_item">
                        <div class="border"></div>
                        <div class="cart__article-products_item-img">
                            <div class="product-img">
                                <img src="./img/cart-product-2.png"
                                    alt="WI-FI лічильник електроенергії з функцією захисту та управління ЕМ-129">
                            </div>

                            <div class="product-title">
                                <h3>WI-FI лічильник електроенергії з функцією захисту та управління ЕМ-129</h3>
                            </div>
                        </div>

                        <div class="cart__article-products_item-function">

                            <div class="price-item">
                                <span class="function-price">1000 грн.</span>
                                <div class="function-tax">
                                    <span>НДС:</span>
                                    <span id="tax">200 грн.</span>
                                </div>
                            </div>

                            <div class="count-item">
                                <button class="minus-cart">
                                    <svg width="15" height="15" viewBox="0 0 15 15" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M12.0184 7.47183L2.73541 7.47183" stroke="#C8C8C8"
                                            stroke-width="1.54717" stroke-linecap="round" />
                                    </svg>
                                </button>
                                <span class="cart-num">1</span>
                                <button class="plus-cart">
                                    <svg width="17" height="17" viewBox="0 0 17 17" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M8.642 3.95905L8.63039 12.9842M4.11008 8.47162H13.1352"
                                            stroke="#89ACF2" stroke-width="1.54717" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                    </svg>
                                </button>
                            </div>

                            <div class="main-price">
                                <span class="function-price" id="main-price">1000 грн.</span>
                                <div class="function-tax">
                                    <span>НДС:</span>
                                    <span id="main-tax">200 грн.</span>
                                </div>
                            </div>

                            <div class="trash-item">
                                <div class="trash-item__img" id="trash-delete">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M4 7H20M10 11V17M14 11V17M5 7L6 19C6 19.5304 6.21071 20.0391 6.58579 20.4142C6.96086 20.7893 7.46957 21 8 21H16C16.5304 21 17.0391 20.7893 17.4142 20.4142C17.7893 20.0391 18 19.5304 18 19L19 7M9 7V4C9 3.73478 9.10536 3.48043 9.29289 3.29289C9.48043 3.10536 9.73478 3 10 3H14C14.2652 3 14.5196 3.10536 14.7071 3.29289C14.8946 3.48043 15 3.73478 15 4V7"
                                            stroke="#FF0000" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                    </svg>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="cart-container__line">
                    <div class="cart__article-products_item">
                        <div class="border"></div>
                        <div class="cart__article-products_item-img">
                            <div class="product-img">
                                <img src="./img/cart-product-3.png"
                                    alt="Універсальний блок захисту електродвигунів УБЗ-302-02">
                            </div>

                            <div class="product-title">
                                <h3>Універсальний блок захисту електродвигунів УБЗ-302-02</h3>
                            </div>
                        </div>

                        <div class="cart__article-products_item-function">

                            <div class="price-item">
                                <span class="function-price">1500 грн.</span>
                                <div class="function-tax">
                                    <span>НДС:</span>
                                    <span id="tax">300 грн.</span>
                                </div>
                            </div>

                            <div class="count-item">
                                <button class="minus-cart">
                                    <svg width="15" height="15" viewBox="0 0 15 15" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M12.0184 7.47183L2.73541 7.47183" stroke="#C8C8C8"
                                            stroke-width="1.54717" stroke-linecap="round" />
                                    </svg>
                                </button>
                                <span class="cart-num">1</span>
                                <button class="plus-cart">
                                    <svg width="17" height="17" viewBox="0 0 17 17" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M8.642 3.95905L8.63039 12.9842M4.11008 8.47162H13.1352"
                                            stroke="#89ACF2" stroke-width="1.54717" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                    </svg>
                                </button>
                            </div>

                            <div class="main-price">
                                <span class="function-price" id="main-price">1500 грн.</span>
                                <div class="function-tax">
                                    <span>НДС:</span>
                                    <span id="main-tax">300 грн.</span>
                                </div>
                            </div>

                            <div class="trash-item">
                                <div class="trash-item__img" id="trash-delete">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M4 7H20M10 11V17M14 11V17M5 7L6 19C6 19.5304 6.21071 20.0391 6.58579 20.4142C6.96086 20.7893 7.46957 21 8 21H16C16.5304 21 17.0391 20.7893 17.4142 20.4142C17.7893 20.0391 18 19.5304 18 19L19 7M9 7V4C9 3.73478 9.10536 3.48043 9.29289 3.29289C9.48043 3.10536 9.73478 3 10 3H14C14.2652 3 14.5196 3.10536 14.7071 3.29289C14.8946 3.48043 15 3.73478 15 4V7"
                                            stroke="#FF0000" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                    </svg>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="cart-container__line">
                    <div class="cart__article-products_item">
                        <div class="border"></div>
                        <div class="cart__article-products_item-img">
                            <div class="product-img">
                                <img src="./img/cart-product-1.png" alt="Реле напруги РН-25t">
                            </div>

                            <div class="product-title">
                                <h3>Реле напруги РН-25t</h3>
                                <span>Знижка</span>
                            </div>
                        </div>

                        <div class="cart__article-products_item-function">

                            <div class="price-item">
                                <div class="discount-cart__item">
                                    <p>920 грн.</p>
                                    <span class="function-price">820 грн.</span>
                                </div>

                                <div class="function-tax">
                                    <span>НДС:</span>
                                    <span id="tax">184 грн.</span>
                                </div>
                            </div>

                            <div class="count-item">
                                <button class="minus-cart">
                                    <svg width="15" height="15" viewBox="0 0 15 15" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M12.0184 7.47183L2.73541 7.47183" stroke="#C8C8C8"
                                            stroke-width="1.54717" stroke-linecap="round" />
                                    </svg>
                                </button>
                                <span class="cart-num">1</span>
                                <button class="plus-cart">
                                    <svg width="17" height="17" viewBox="0 0 17 17" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M8.642 3.95905L8.63039 12.9842M4.11008 8.47162H13.1352"
                                            stroke="#89ACF2" stroke-width="1.54717" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                    </svg>
                                </button>
                            </div>

                            <div class="main-price">
                                <span class="function-price" id="main-price">820 грн.</span>
                                <div class="function-tax">
                                    <span>НДС:</span>
                                    <span id="main-tax">184 грн.</span>
                                </div>
                            </div>

                            <div class="trash-item">
                                <div class="trash-item__img" id="trash-delete">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M4 7H20M10 11V17M14 11V17M5 7L6 19C6 19.5304 6.21071 20.0391 6.58579 20.4142C6.96086 20.7893 7.46957 21 8 21H16C16.5304 21 17.0391 20.7893 17.4142 20.4142C17.7893 20.0391 18 19.5304 18 19L19 7M9 7V4C9 3.73478 9.10536 3.48043 9.29289 3.29289C9.48043 3.10536 9.73478 3 10 3H14C14.2652 3 14.5196 3.10536 14.7071 3.29289C14.8946 3.48043 15 3.73478 15 4V7"
                                            stroke="#FF0000" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                    </svg>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="cart-container__line">
                    <div class="cart__article-products_item">
                        <div class="border"></div>
                        <div class="cart__article-products_item-img">
                            <div class="product-img">
                                <img src="./img/cart-product-1.png" alt="Реле напруги РН-25t">
                            </div>

                            <div class="product-title">
                                <h3>Реле напруги РН-25t</h3>

                            </div>
                        </div>

                        <div class="cart__article-products_item-function">

                            <div class="price-item">
                                <span class="function-price">920 грн.</span>
                                <div class="function-tax">
                                    <span>НДС:</span>
                                    <span id="tax">184 грн.</span>
                                </div>
                            </div>

                            <div class="count-item">
                                <button class="minus-cart">
                                    <svg width="15" height="15" viewBox="0 0 15 15" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M12.0184 7.47183L2.73541 7.47183" stroke="#C8C8C8"
                                            stroke-width="1.54717" stroke-linecap="round" />
                                    </svg>
                                </button>
                                <span class="cart-num">1</span>
                                <button class="plus-cart">
                                    <svg width="17" height="17" viewBox="0 0 17 17" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M8.642 3.95905L8.63039 12.9842M4.11008 8.47162H13.1352"
                                            stroke="#89ACF2" stroke-width="1.54717" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                    </svg>
                                </button>
                            </div>

                            <div class="main-price">
                                <span class="function-price" id="main-price">920 грн.</span>
                                <div class="function-tax">
                                    <span>НДС:</span>
                                    <span id="main-tax">153 грн.</span>
                                </div>
                            </div>

                            <div class="trash-item">
                                <div class="trash-item__img" id="trash-delete">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M4 7H20M10 11V17M14 11V17M5 7L6 19C6 19.5304 6.21071 20.0391 6.58579 20.4142C6.96086 20.7893 7.46957 21 8 21H16C16.5304 21 17.0391 20.7893 17.4142 20.4142C17.7893 20.0391 18 19.5304 18 19L19 7M9 7V4C9 3.73478 9.10536 3.48043 9.29289 3.29289C9.48043 3.10536 9.73478 3 10 3H14C14.2652 3 14.5196 3.10536 14.7071 3.29289C14.8946 3.48043 15 3.73478 15 4V7"
                                            stroke="#FF0000" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                    </svg>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>



            </div>

            <!-- FORM -->
            @include('pageCartItemForm.html')
            <!-- FORM -->


            <form action="#!">

                <div class="cart-banner__container">
                    <div class="cart-wrapper__main-banner">
                        <div class="cart-wrapper__main-banner__head">
                            <div class="banner__head-sum">
                                <h5>Загальна сума</h5>
                                <span id="mainSumCart"></span>
                            </div>
                            <div class="banner__head-tax">
                                <h5>НДС</h5>
                                <span id="mainTaxCart"></span>
                            </div>
                        </div>

                        <div class="cart-wrapper__main-banner__pay">
                            <h3>До сплати:</h3>
                            <div class="pay-main">

                                <div class="pay-main__wrapper">
                                    <div class="pay-main__discount">
                                        <h5>-20%</h5>
                                        <h6></h6>
                                    </div>
                                </div>

                                <span id="mainTaxDiscount"></span>
                            </div>
                        </div>

                        <div class="cart-wrapper__main-banner__btn">
                            <button id="payment">
                                <span>Оформити замовлення</span>
                            </button>
                        </div>

                        <div class="cart-wrapper__main-banner__policy">
                            <h3>
                                Підтверджуючи замовлення, я приймаю умови:
                            </h3>

                            <ul>
                                <li class="cart-subtitle">
                                    положення про обробку і захист персональних
                                    даних
                                </li>
                                <li>угоди користувача</li>
                            </ul>
                        </div>
                    </div>

                    <div class="cart-banner__container-input">
                        <div class="cart-banner__container-input__block">
                            <div class="input-container">
                                <input id="discontCode" type="text" placeholder="Промо-код">
                                <span id="clearButton" class="clear-button">✖</span>
                            </div>
                        </div>

                        <div class="cart-banner__container-input__btn">

                            <button id="applyDiscount">
                                <span class="button-text">Застосувати промо-код</span>
                                </span>
                                <span class="checkmark">
                                    <img src="./img/cart-doneBtn.svg" alt="">
                                </span>
                                <span class="applied-label">Застосовано
                            </button>

                        </div>
                    </div>
                </div>

            </form>
            <!-- CONTENT -->

        </div>

    </div>
    <div class="cart__article-footer">
        <div class="container">
            <div class="cart__article-footer__content">
                <span>
                    ©
                </span>
                <h4>
                    Novatek-Electro
                </h4>
                <span>
                    |
                </span>
                <span>
                    2023
                </span>
            </div>
        </div>
    </div>

</section>
<!-- FORM DONE -->
@include('pageCartItemFormDone.html')
<!-- FORM DONE -->