<section class="warranty">
    <div class="container">
        <div class="warranty__bread">
            <p>
                Головна - Гарантія на продукцію
            </p>
        </div>
    </div>

    <div class="container-warranty">
        <div class="warranty__content">
            <div class="warranty__content-text">
                <h1>гарантія на продукцію</h1>

                <h2>Гарантія</h2>

                <div class="warranty__content-text__descr">
                    <p>
                        Гарантія на всю продукцію “Новатек-Електро” – до 10 років. У разі виявлення несправності роботи
                        обладнання, вам слід
                        звернутися за телефоном:
                        <a title="Зателефонувати" href="tel:+380503593911">
                            <span class="warranty-tel">+380503593911</span>
                        </a>
                    </p>

                    <p>
                        Наведені нижче умови гарантії та повернення товару складені з урахуванням чинного законодавства
                        України і не обмежують
                        права споживачів.
                    </p>

                    <p>
                        <a title="Головна сторінка" href="#!">
                            Novatek-electro.com
                        </a> пропонує асортимент якісної та сертифікованої продукції власного
                        виробництва, на які надається
                        офіційна гарантія до 10 років. Уточнити термін дії гарантії на конкретний товар можна у наших
                        менеджерів, або в паспорті
                        приладу.
                    </p>

                    <p>
                        Перевірка на відсутність дефектів і комплектність товару проводиться покупцем в момент отримання
                        замовлення від кур’єра,
                        при самовивозі замовлення з офісу, а також у відділенні вантажоперевізника.

                    </p>

                    <p>
                        У момент передачі товару та оплати за нього, клієнт підтверджує що товар, який він отримав не
                        мав видимих дефектів і був
                        переданий в належній кількості та якості.
                    </p>

                    <p>
                        При отриманні товару уважно перевіряйте його якість, кількість і комплектацію в присутності
                        кур’єра, працівника магазину
                        або співробітника компанії-вантажоперевізника.

                    </p>

                    <p>
                        Зауваження щодо зовнішнього вигляду товару приймаються виключно в момент доставки товару.

                    </p>

                    <p>
                        У разі виявлення з Вашого боку будь-яких дефектів, незадовільного зовнішнього вигляду або
                        комплектації повідомте про це
                        представнику магазину або вантажоперевізника і ми в максимально короткі терміни зробимо заміну
                        такого товару.

                    </p>

                    <div class="warranty-list">
                        <h4>
                            Порядок здійснення гарантійної заміни:
                        </h4>

                        <p>
                            1. Товар підлягає гарантійній заміні в разі якщо він не має зовнішніх дефектів і пошкоджень,
                            які
                            могли з’явитися в
                            результаті фізичного впливу, падіння, а також неправильного монтажу;
                        </p>

                        <p>
                            2. З моменту отримання імовірно бракованого товару, він передається в сертифікований
                            сервісний
                            центр для проведення
                            незалежної експертизи;
                        </p>

                        <p>
                            3. Термін проведення експертизи: від 3 до 10 днів з моменту передачі товару представнику
                            інтернет-магазину в належному
                            товарному вигляді.
                        </p>

                        <p>
                            4. У разі підтвердження незалежною експертизою наявності заводського дефекту або браку
                            виробу,
                            ми
                            виробляємо заміну такого
                            товару на новий.
                        </p>
                        <p>
                            5. Обмін та повернення товару, придбаного в нашому інтернет-магазині здійснюється відповідно
                            до
                            Закону України «Про захист
                            прав споживача»
                        </p>

                    </div>
                </div>

            </div>


            <div class="warranty__content-banners">

                <div class="warranty__content-banners__garant">
                    <p class="warranty-garant">
                        Гарантiя <br>
                        на продукцiю
                    </p>
                    <p class="warranty-ten">до 10 рокiв</p>
                </div>

                <div class="warranty__content-banners__item">
                    <div class="banners__item-img">
                        <img src="./img/warranty-img.jpg" alt="ЕМ-129">
                    </div>
                </div>

            </div>

        </div>
    </div>

    <div class="warranty-banner__hidden">
        <div class="warranty__content-banners__garant">
            <p class="warranty-garant">
                Гарантiя <br>
                на продукцiю
            </p>
            <p class="warranty-ten">до 10 рокiв</p>
        </div>
    </div>

    <div class="container">
        <div class="warranty__content-text__change">
            <h2>
                Обмін і повернення товару
            </h2>

            <div class="change-block__items">

                <div class="text__change-item">
                    <p class="change-descr">
                        Повернення або обмін товару здійснюється протягом 14 днів після здійснення покупки;
                    </p>
                </div>

                <div class="text__change-item">
                    <p class="change-descr bold-title">
                        Повернення та обмін товару можливий, за умови що товар:
                    </p>

                    <div class="change-list__items">
                        <p class="change-descr change-list">
                            не був у вжитку;
                        </p>

                        <p class="change-descr change-list">
                            не має слідів використання: відколів, потертостей, подряпин, інших слідів
                            механічного
                            впливу;
                        </p>

                        <p class="change-descr change-list big-change">
                            не порушена заводська упаковка (розетки і вимикачі як правило мають індивідуальну
                            целофанову
                            упаковку. Для повернення /
                            обміну вона не повинна бути роздрукована.
                        </p>
                    </div>
                </div>

                <div class="text__change-item">
                    <p class="change-descr bold-title">
                        Обміну та поверненню не підлягає товар:
                    </p>

                    <div class="change-list__items">
                        <p class="change-descr change-list">
                            товар з порушеною або пошкодженою заводською упаковкою;
                        </p>

                        <p class="change-descr change-list">
                            має сліди механічного впливу.
                        </p>
                    </div>
                </div>

                <div class="text__change-item">
                    <p class="change-descr">
                        Обмін та повернення товару здійснюється в будні дні з 10: 00 до 16: 30 за адресою:
                        м.Одеса,
                        вул. адмірала Лазарєва, 59.
                        Не забудьте попередньо повідомити наших менеджерів про намір здійснити заміну /
                        повернення
                        товару. Або Новою Поштою, м.
                        Одеса, отд №3, телеф.

                        <a href="tel:+ 380675571246">
                            + 380675571246
                        </a>,
                        на компанію
                        “Новатек-Електро”
                    </p>
                </div>

            </div>
        </div>

        <div class="warranty-banner__hidden-item">

            <div class="warranty__content-banners__item">
                <div class="banners__item-img">
                    <img src="./img/warranty-img.jpg" alt="ЕМ-129">
                </div>
            </div>
        </div>
    </div>

</section>