<section id="page9Identifier" class="contact">
    <div class="container">

        <div class="contact__bread">
            <p>
                Головна - Контакти
            </p>
        </div>

        <div class="contact__intro">
            <div class="contact__intro-img">
                <img src="./img/contact-intro.jpg" alt="Контакти">
            </div>

            <div class="contact__intro-overlay"></div>

            <div class="contact__intro-title">
                <h1>
                    контакти
                </h1>
            </div>
        </div>

        <div class="contact__content">
            <div class="content__content-map">
                <div class="contact__map-contact">
                    <div class="contact__map-contact__title">
                        <h2>
                            Наші контакти:
                        </h2>
                    </div>

                    <div class="contact__map-contact__subtitle">
                        <p>
                            м. Одеса, вул. Адмірала Лазарєва 59 <br>
                            ( Колишня будівля банка “Україна” )
                        </p>
                    </div>

                    <div class="contact__map-contact__phone">
                        <h4>Телефони:</h4>
                        <a title="Зателефонувати" href="tel:+380675653768">+38 (067) 565-37-68;</a>
                        <a title="Зателефонувати" href="tel:+380503593911"> +38 (050) 359-39-11;</a>
                        <a title="Зателефонувати" href="tel:+380633013040">+38 (063) 301-30-40;</a>
                    </div>

                    <div class="contact__map-contact__email">
                        <h4>Email:</h4>
                        <a title="Надістали листа" href="mailto:example@gmail.com">example@gmail.com</a>
                    </div>

                    <div class="contact__map-contact__link">
                        <a title="Зв'язатися" href="#!" target="_blank">
                            <span>Зв'язатися з нами</span>
                        </a>
                    </div>
                </div>

                <div class="contact__map-img">
                    <a title="Наша локація" target="_blank"
                        href="https://www.google.com.ua/maps/place/%D1%83%D0%BB.+%D0%90%D0%B4%D0%BC%D0%B8%D1%80%D0%B0%D0%BB%D0%B0+%D0%9B%D0%B0%D0%B7%D0%B0%D1%80%D0%B5%D0%B2%D0%B0,+59,+%D0%9E%D0%B4%D0%B5%D1%81%D1%81%D0%B0,+%D0%9E%D0%B4%D0%B5%D1%81%D1%81%D0%BA%D0%B0%D1%8F+%D0%BE%D0%B1%D0%BB%D0%B0%D1%81%D1%82%D1%8C,+65000/@46.4609563,30.7182914,17z/data=!3m1!4b1!4m6!3m5!1s0x40c6322dd47c8237:0x7c278cf27f7c4436!8m2!3d46.4609526!4d30.7208663!16s%2Fg%2F1tf5j4bk?hl=ru&entry=ttu">
                        <div class="contact__map-thumb">
                            <img src="./img/map-img.jpg" alt="Map">
                        </div>
                    </a>
                </div>
            </div>

            @include('pageContactItemTeam.html')
        </div>

    </div>
</section>