<section class="contact__team">

    <div class="contact__team-card">

        <div class="contact__team-card__item">
            <div class="team-img">
                <img src="./img/teamExpert-1.jpg" alt="Керівник відділу продажів">
            </div>

            <div class="team-info">
                <div class="team-info__name">
                    <h3>Віктор</h3>
                    <p>
                        Керівник відділу продажів
                    </p>
                </div>

                <div class="team-info__email">
                    <h3>Email:</h3>
                    <a title="Надіслати листа" href="mailto:">
                        alex@novatek-electro.com
                    </a>
                </div>

                <div class="team-info__support">
                    <a title="Зв'язатися" href="#!">
                        <span>Зв'язатися</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="contact__team-card__item">
            <div class="team-img">
                <img src="./img/teamExpert-2.jpg" alt="Менеджер по роботі з постійними клієнтами">
            </div>

            <div class="team-info">
                <div class="team-info__name">
                    <h3>Яна</h3>
                    <p>
                        Менеджер по роботі з постійними
                        клієнтами
                    </p>
                </div>

                <div class="team-info__email">
                    <h3>Email:</h3>
                    <a title="Надіслати листа" href="mailto:">
                        sales6@novatek-electro.com
                    </a>
                </div>

                <div class="team-info__support">
                    <a title="Зв'язатися" href="#!">
                        <span>Зв'язатися</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="contact__team-card__item">
            <div class="team-img">
                <img src="./img/teamExpert-3.jpg" alt="Менеджер по роботі з новими клієнтами">
            </div>

            <div class="team-info">
                <div class="team-info__name">
                    <h3>Ксенія</h3>
                    <p>
                        Менеджер по роботі з новими
                        клієнтами
                    </p>
                </div>

                <div class="team-info__email">
                    <h3>Email:</h3>
                    <a title="Надіслати листа" href="mailto:">
                        sales3@novatek-electro.com
                    </a>
                </div>

                <div class="team-info__support">
                    <a title="Зв'язатися" href="#!">
                        <span>Зв'язатися</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="contact__team-card__item">
            <div class="team-img">
                <img src="./img/teamExpert-4.jpg" alt="Менеджер по роботі з постійними клієнтами">
            </div>

            <div class="team-info">
                <div class="team-info__name">
                    <h3>Віктор</h3>
                    <p>
                        Менеджер по роботі з постійними
                        клієнтами
                    </p>
                </div>

                <div class="team-info__email">
                    <h3>Email:</h3>
                    <a title="Надіслати листа" href="mailto:">
                        sales5@novatek-electro.com
                    </a>
                </div>

                <div class="team-info__support">
                    <a title="Зв'язатися" href="#!">
                        <span>Зв'язатися</span>
                    </a>
                </div>
            </div>
        </div>

    </div>

</section>