<section class="main">
    <div class="container">
        <!-- <div class="main__intro">
            <div class="main__intro-img">
                <img src="./img/contact-intro.jpg" alt="КОМПАНІЯ «НОВАТЕК-ЕЛЕКТРО»">
            </div>

            <div class="main__intro-thumb">
                <img src="./img/main-circle.svg" alt="Thumb">
            </div>

            <div class="main__intro-overlay"></div>

            <div class="main__intro-title">

                <div class="main__intro-title__content">

                    <div class="main__intro-title__content-title">
                        <h1>
                            новатек
                        </h1>


                    </div>

                    <div class="main__intro-title__content-descr">
                        <span>електро</span>
                        <p>
                            Розробка і виробництво приладів автоматики та захисту
                        </p>
                    </div>

                </div>

            </div>


        </div> -->

        <div class="main__banner">
            <div class="main__banner-bg">
                <img src="./img/mainBannerItems.png" alt="BG">
            </div>
            <div class="main__banner-wrapper">
                <div class="main__banner-wrapper__photo">
                    <img src="./img/mainBannerBg.png" alt="Items">
                </div>

                <div class="main__banner-wrapper__descr">
                    <h1>
                        РОЗРОБКА І ВИРОБНИЦТВО ПРИЛАДІВ АВТОМАТИКИ ТА ЗАХИСТУ
                    </h1>

                    <p>
                        ПРОФЕСІЙНІ РІШЕННЯ ДЛЯ ПОБУТОВИХ ЗАВДАНЬ ПО АВТОМАТИЗАЦІЇ І ЗАХИСТУ
                    </p>

                    <a target="_blank" title="Замовити консультацію" href="#!">Замовити консультацію</a>
                </div>
            </div>
        </div>

        <div class="main__content">

            <!-- catalog content -->
            <div class="main__content-catalog">

                <div class="main__content-catalog__descr">
                    <h2 class="index-title main__content-catalog__descr-title">
                        Каталог продукції
                    </h2>

                    <div class="main__content-catalog__descr-items">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc elementum interdum nisi, ut
                            blandit erat blandit feugiat.
                            Proin et mi placerat, tincidunt ex congue, porta enim. Sed in lectus eu nisi ultricies
                            dignissim. Aenean vitae leo vitae
                            ante interdum venenatis.
                        </p>
                        <p>
                            Phasellus congue, diam vel rutrum pretium, augue velit condimentum nibh, at interdum nibh
                            sem non purus. Nam sapien
                            augue, rutrum quis faucibus vel, viverra sit amet justo. Pellentesque semper, lectus sed
                            ullamcorper viverra, purus sem
                            aliquam justo, sit amet fringilla nulla sapien ut odio.
                        </p>
                    </div>

                    <div class="main__content-catalog__descr-link">
                        <a title="Перейти до каталогу" target="_blank" href="pageCatalog.html">
                            <span>
                                Перейти до каталогу
                            </span>
                        </a>
                    </div>
                </div>

                <div class="main__content-catalog__photo">
                    <div class="main__content-catalog__photo-thumb">
                        <img src="./img/mainCatalog-photo.png" alt="PH-25t">
                    </div>

                    <div class="mobile-product__photo">
                        <img src="./img/mainMobileProduct.png" alt="PH-25t">
                    </div>
                </div>
            </div>

            <!-- services content -->
            <div class="main__content-services">
                <div class="main__content-services__descr">
                    <h2 class="index-title main__content-services__descr-title">
                        Послуги компанії
                    </h2>

                    <div class="main__content-services__descr-items">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc elementum interdum nisi, ut
                            blandit erat blandit feugiat.
                            Proin et mi placerat, tincidunt ex congue, porta enim. Sed in lectus eu nisi ultricies
                            dignissim. Aenean vitae leo vitae
                            ante interdum venenatis.
                        </p>
                        <p>
                            Phasellus congue, diam vel rutrum pretium, augue velit condimentum nibh, at interdum nibh
                            sem non purus. Nam sapien
                            augue, rutrum quis faucibus vel, viverra sit amet justo. Pellentesque semper, lectus sed
                            ullamcorper viverra, purus sem
                            aliquam justo, sit amet fringilla nulla sapien ut odio.
                        </p>
                    </div>

                    <div class="main__content-services__descr-link">
                        <a title="Перейти до послуг" target="_blank" href="pageServices.html">
                            <span>
                                Перейти до послуг
                            </span>
                        </a>
                    </div>
                </div>

                <div class="main__content-services__photo-xs">
                    <img src="./img/mainServicesPhoto-xs.png" alt="Services">
                </div>
                <div class="main__content-services__photo">
                    <div class="main__content-services__photo-lg">
                        <img src="./img/mainServicesPhoto-1.jpg" alt="Services">
                    </div>

                    <div class="main__content-services__photo-sm">

                        <img src="./img/mainServicesPhoto-sm.png" alt="Services">
                    </div>

                </div>
            </div>

            <!-- production content -->
            <div class="main__content-production">
                <div class="main__content-production__descr">
                    <h2 class="index-title main__content-production__descr-title">
                        Власне виробництво
                    </h2>

                    <div class="main__content-production__descr-items">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc elementum interdum nisi, ut
                            blandit erat blandit feugiat.
                            Proin et mi placerat, tincidunt ex congue, porta enim. Sed in lectus eu nisi ultricies
                            dignissim. Aenean vitae leo vitae
                            ante interdum venenatis.
                        </p>
                        <p>
                            Phasellus congue, diam vel rutrum pretium, augue velit condimentum nibh, at interdum nibh
                            sem non purus. Nam sapien
                            augue, rutrum quis faucibus vel, viverra sit amet justo. Pellentesque semper, lectus sed
                            ullamcorper viverra, purus sem
                            aliquam justo, sit amet fringilla nulla sapien ut odio.
                        </p>
                    </div>
                </div>

                <div class="main__content-production__gallery">

                    <!-- 1 -->
                    <div class="main-iframe main__content-production__gallery-item">
                        <div class="production__gallery-item__thumb">
                            <img src="./img/aboutProductionImg-1.jpg" alt="Production">
                        </div>

                        <div class="production__gallery-item__overlay"></div>

                        <div class="production__gallery-item__watch">
                            <p>дивитися відео</p>
                        </div>

                        <button class="production__gallery-item__icon">
                            <img src="./img/productionWatch-icon.svg" alt="Watch">
                        </button>

                    </div>

                    <!-- 2 -->
                    <div class="main__content-production__gallery-item">
                        <div class="production__gallery-item__thumb">
                            <img src="./img/aboutProductionImg-2.jpg" alt="Production">
                        </div>
                    </div>

                    <!-- 3 -->
                    <div class="main__content-production__gallery-item">
                        <div class="production__gallery-item__thumb">
                            <img src="./img/aboutProductionImg-3.jpg" alt="Production">
                        </div>
                    </div>

                    <!-- 4 -->
                    <div class="main__content-production__gallery-item">
                        <div class="production__gallery-item__thumb">
                            <img src="./img/aboutProductionImg-4.jpg" alt="Production">
                        </div>
                    </div>

                    <!-- 5 -->
                    <div class="main__content-production__gallery-item">
                        <div class="production__gallery-item__thumb">
                            <img src="./img/aboutProductionImg-5.jpg" alt="Production">
                        </div>
                    </div>

                </div>
            </div>

            <!-- expert content -->
            <div class="main__content-expert">
                <div class="main__content-expert__descr">
                    <h2 class="index-title main__content-expert__descr-title">
                        Галузевий експерт
                    </h2>

                    <div class="main__content-expert__descr-items">
                        <p>
                            Novatek Electro – Вітчизняна компанія, яка є виробником електротехнічної продукції. Основна
                            спеціалізація компанії –
                            розробка і впровадження у виробництво промислових реле, а також інтелектуальної електроніки
                            і різних систем для
                            створення автоматизованих технологічних процесів, що підвищують продуктивність виробництва і
                            полегшують роботу
                            користувачів.
                        </p>

                    </div>
                </div>

                <div class="main__content-expert__cards">

                    <!-- 1 -->
                    <div class="main__content-expert__cards-item"
                        style="background-image: url(./img/expertCardIcon-1.svg);">
                        <h3>
                            Гарантія на всю продукцію 10 років
                        </h3>
                        <p>
                            На всю продукцію з моменту покупки діє гарантія 10 років.При виникненні гарантійного
                            випадку, витрати пов'язані з
                            доставкою, ремонтом або заміною продукції (в Україні) компанія Новатек-Електро бере на себе.
                        </p>

                    </div>

                    <!-- 2 -->
                    <div class="main__content-expert__cards-item"
                        style="background-image: url(./img/expertCardIcon-2.svg);">
                        <h3>
                            Для постійних клієнтів діє система знижок
                        </h3>
                        <p>
                            Деталі уточнюйте у менеджерів по продажам
                        </p>

                    </div>
                    <!-- 3 -->
                    <div class="main__content-expert__cards-item"
                        style="background-image: url(./img/expertCardIcon-3.svg);">
                        <h3>
                            Можлива відстрочка платежу
                        </h3>
                        <p>
                            Продукція може надаватися з відстрочкою платежу. Деталі уточнюйте у менеджерів по продажам
                        </p>

                    </div>
                    <!-- 4 -->
                    <div class="main__content-expert__cards-item"
                        style="background-image: url(./img/expertCardIcon-4.svg);">
                        <h3>
                            Розширена функціональність пристроїв
                        </h3>
                        <p>
                            Прилади мають велику кількість функцій.По набору функцій один прилад може замінити кілька
                            аналогічних приладів інших
                            виробників не поступаючи їм в якості продукції.За рахунок цього Ви можете зменшити витрати
                            на проект
                        </p>

                    </div>
                    <!-- 5 -->
                    <div class="main__content-expert__cards-item"
                        style="background-image: url(./img/expertCardIcon-5.svg);">
                        <h3>
                            Виробництво сертифіковане по ISO 9001
                        </h3>
                        <p>
                            Сертифікацію по ISO 9001 пройшли всі ділянки виробництва, завдяки чому постійно збільшується
                            якість продукції і
                            зменшується рівень браку
                        </p>

                    </div>
                    <!-- 6 -->
                    <div class="main__content-expert__cards-item"
                        style="background-image: url(./img/expertCardIcon-6.svg);">
                        <h3>
                            Виробництво сертифіковане по ISO 9001
                        </h3>
                        <p>
                            Сертифікацію по ISO 9001 пройшли всі ділянки виробництва, завдяки чому постійно збільшується
                            якість продукції і
                            зменшується рівень браку
                        </p>

                    </div>
                </div>
            </div>

            <!-- clients content -->
            <div class="main__content-clients">
                <div class="main__content-clients__descr">
                    <h2 class="index-title main__content-clients__descr-title">
                        Наші клієнти
                    </h2>
                </div>

                <div class="image-slider swiper-container slider-clients__main">

                    <div class="image-slider__wrapper swiper-wrapper">

                        <div class="image-slider__slide swiper-slide">
                            <div class="image-slider__slide-piece">

                                <div class="image-slider__image">
                                    <img src="./img/clientsKievstar.jpg" alt="Clients">
                                </div>
                            </div>
                        </div>

                        <div class="image-slider__slide swiper-slide">
                            <div class="image-slider__slide-piece">

                                <div class="image-slider__image">
                                    <img src="./img/clientsDtek.jpg" alt="Clients">
                                </div>
                            </div>
                        </div>

                        <div class="image-slider__slide swiper-slide">
                            <div class="image-slider__slide-piece">

                                <div class="image-slider__image">
                                    <img src="./img/clientsSiemens.jpg" alt="Clients">
                                </div>
                            </div>
                        </div>

                        <div class="image-slider__slide swiper-slide">
                            <div class="image-slider__slide-piece">

                                <div class="image-slider__image">
                                    <img src="./img/clientsUkr3al.jpg" alt="Clients">
                                </div>
                            </div>
                        </div>

                        <div class="image-slider__slide swiper-slide">
                            <div class="image-slider__slide-piece">

                                <div class="image-slider__image">
                                    <img src="./img/clientsFarmak.jpg" alt="Clients">
                                </div>
                            </div>
                        </div>

                        <div class="image-slider__slide swiper-slide">
                            <div class="image-slider__slide-piece">

                                <div class="image-slider__image">
                                    <img src="./img/clientsKievstar.jpg" alt="Clients">
                                </div>
                            </div>
                        </div>

                        <div class="image-slider__slide swiper-slide">
                            <div class="image-slider__slide-piece">
                                <div class="image-slider__image">
                                    <img src="./img/clientsDtek.jpg" alt="Clients">
                                </div>
                            </div>

                        </div>

                        <div class="image-slider__slide swiper-slide">
                            <div class="image-slider__slide-piece">

                                <div class="image-slider__image">
                                    <img src="./img/clientsSiemens.jpg" alt="Clients">
                                </div>
                            </div>
                        </div>

                        <div class="image-slider__slide swiper-slide">
                            <div class="image-slider__slide-piece">

                                <div class="image-slider__image">
                                    <img src="./img/clientsUkr3al.jpg" alt="Clients">
                                </div>
                            </div>
                        </div>

                        <div class="image-slider__slide swiper-slide">
                            <div class="image-slider__slide-piece">

                                <div class="image-slider__image">
                                    <img src="./img/clientsFarmak.jpg" alt="Clients">
                                </div>
                            </div>
                        </div>

                        <div class="image-slider__slide swiper-slide">
                            <div class="image-slider__slide-piece">

                                <div class="image-slider__image">
                                    <img src="./img/clientsUkr3al.jpg" alt="Clients">
                                </div>
                            </div>
                        </div>

                        <div class="image-slider__slide swiper-slide">
                            <div class="image-slider__slide-piece">
                                <div class="image-slider__image">
                                    <img src="./img/clientsFarmak.jpg" alt="Clients">
                                </div>
                            </div>
                        </div>


                    </div>

                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>

                    <div class="swiper-pagination"></div>

                </div>
            </div>

            <!-- partners content -->
            <div class="main__content-partners">
                <div class="main__content-partners__descr">
                    <h2 class="index-title main__content-partners__descr-title">
                        Наші партнери
                    </h2>
                </div>

                <div class="about__content-partners">


                    <div class="image-slider swiper-container slider-partners__main">

                        <div class="image-slider__wrapper swiper-wrapper">

                            <div class="image-slider__slide swiper-slide">
                                <div class="image-slider__slide-piece">

                                    <div class="image-slider__image">
                                        <img src="./img/partnersSlide-1.jpg" alt="Partners">
                                    </div>
                                </div>
                            </div>

                            <div class="image-slider__slide swiper-slide">
                                <div class="image-slider__slide-piece">

                                    <div class="image-slider__image">
                                        <img src="./img/partnersSlide-2.jpg" alt="Partners">
                                    </div>
                                </div>
                            </div>

                            <div class="image-slider__slide swiper-slide">
                                <div class="image-slider__slide-piece">

                                    <div class="image-slider__image">
                                        <img src="./img/partnersSlide-3.jpg" alt="Partners">
                                    </div>
                                </div>
                            </div>

                            <div class="image-slider__slide swiper-slide">
                                <div class="image-slider__slide-piece">

                                    <div class="image-slider__image">
                                        <img src="./img/partnersSlide-4.jpg" alt="Partners">
                                    </div>
                                </div>
                            </div>

                            <div class="image-slider__slide swiper-slide">
                                <div class="image-slider__slide-piece">

                                    <div class="image-slider__image">
                                        <img src="./img/partnersSlide-5.jpg" alt="Partners">
                                    </div>
                                </div>
                            </div>

                            <div class="image-slider__slide swiper-slide">
                                <div class="image-slider__slide-piece">

                                    <div class="image-slider__image">
                                        <img src="./img/partnersSlide-6.jpg" alt="Partners">
                                    </div>
                                </div>
                            </div>

                            <div class="image-slider__slide swiper-slide">
                                <div class="image-slider__slide-piece">

                                    <div class="image-slider__image">
                                        <img src="./img/partnersSlide-1.jpg" alt="Partners">
                                    </div>
                                </div>
                            </div>

                            <div class="image-slider__slide swiper-slide">
                                <div class="image-slider__slide-piece">

                                    <div class="image-slider__image">
                                        <img src="./img/partnersSlide-2.jpg" alt="Partners">
                                    </div>
                                </div>
                            </div>

                            <div class="image-slider__slide swiper-slide">
                                <div class="image-slider__slide-piece">

                                    <div class="image-slider__image">
                                        <img src="./img/partnersSlide-3.jpg" alt="Partners">
                                    </div>
                                </div>
                            </div>

                            <div class="image-slider__slide swiper-slide">
                                <div class="image-slider__slide-piece">

                                    <div class="image-slider__image">
                                        <img src="./img/partnersSlide-4.jpg" alt="Partners">
                                    </div>
                                </div>
                            </div>

                            <div class="image-slider__slide swiper-slide">
                                <div class="image-slider__slide-piece">

                                    <div class="image-slider__image">
                                        <img src="./img/partnersSlide-5.jpg" alt="Partners">
                                    </div>
                                </div>
                            </div>

                            <div class="image-slider__slide swiper-slide">
                                <div class="image-slider__slide-piece">

                                    <div class="image-slider__image">
                                        <img src="./img/partnersSlide-6.jpg" alt="Partners">
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>

                        <div class="swiper-pagination"></div>

                    </div>
                </div>
            </div>

            <!-- news content -->
            <div class="main__content-news">
                <div class="main__content-news__descr">
                    <h2 class="index-title main__content-news__descr-title">
                        Останні новини
                    </h2>
                </div>

                <div class="main__content-news__content">

                    <div class="main__content-news__content-sm">
                        <div class="main__content-news__content-sm__items">
                            <div class="content-sm__items-first">
                                <div class="content-sm__items-first__img">
                                    <img src="./img/mainBanner-1.jpg" alt="Banner">
                                </div>

                                <div class="content-sm__items-first__title">
                                    <h3>
                                        Зустрічайте цікаву та зручную сторінку, присвячену ЕМ-130
                                    </h3>
                                </div>

                                <div class="content-sm__items-first__link">
                                    <a target="_blank" title="Детальніше" href="#!">
                                        Детальніше
                                    </a>
                                </div>
                            </div>

                            <div class="content-sm__items-second">
                                <div class="content-sm__items-second__img">
                                    <img src="./img/mainBanner-2.jpg" alt="Banner">
                                </div>

                                <div class="content-sm__items-second__title">
                                    <h3>
                                        Контрактне виробництво мікропроцесорних реле
                                    </h3>
                                </div>

                                <div class="content-sm__items-second__link">
                                    <a target="_blank" title="Детальніше" href="#!">
                                        Детальніше
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="main__content-news__content-lg">
                        <div class="main__content-news__content-lg__content">
                            <div class="main__content-news__content-lg__img">
                                <img src="./img/mainBanner-3.jpg" alt="Banner">
                            </div>

                            <div class="main__content-news__content-lg__title">
                                <h3>
                                    Нова та інформативна сторінка, присвячена системі управління EPS
                                </h3>
                            </div>

                            <div class="main__content-news__content-lg__link">
                                <a target="_blank" title="Детальніше" href="#!">
                                    Детальніше
                                </a>
                            </div>

                            <div class="main__content-news__content-lg__btn">
                                <a title="Перейти до новин" target="_blank" href="#!">
                                    <span>Перейти до новин</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


            <!-- article content -->
            <div class="main__content-article">
                <div class="main__content-article__descr">
                    <h2 class="index-title main__content-article__descr-title">
                        Останні статті
                    </h2>


                </div>

                <div class="main__content-article__content">
                    <div class="main__content-article__content-lg">
                        <div class="main__content-article__content-lg__block">

                            <div class="main__content-article__content-lg__block-img">
                                <div class="article__content-lg__img">
                                    <img src="./img/blogArticleIntro-img.jpg" alt="Article">
                                </div>

                                <div class="article__content-lg__overlay"></div>

                                <div class="main-mark__advice article__content-lg__mark">
                                    <span>Поради</span>
                                </div>

                                <div class="article__content-lg__watch">
                                    <div class="article__content-lg__watch-count">
                                        <span class="article__content-lg__watch-count__img">
                                            <img src="./img/watchBanner-img.svg" alt="Watch">
                                        </span>

                                        <span class="article__content-lg__watch-count__num">
                                            547
                                        </span>
                                    </div>

                                    <div class="article__content-lg__watch-date">
                                        <span>24.07.2023</span>
                                    </div>
                                </div>
                            </div>


                            <div class="article__content-lg__content">
                                <h3>
                                    Як забезпечити захист електроприладів за допомогою однофазного реле напруги?
                                </h3>

                                <a title="Детальніше" target="_blank" href="#!">
                                    Детальніше
                                </a>
                            </div>
                        </div>

                        <div class="article__content-lg__link">
                            <a title="Перейти до блогу" target="_blank" href="pageBlogMain.html">
                                <span>Перейти до блогу</span>
                            </a>
                        </div>
                    </div>

                    <div class="main__content-article__content-sm">
                        <div class="main__content-article__content-sm__top">

                            <div class="main__content-article__content-lg__block-img">
                                <div class="article__content-sm__top-img">
                                    <img src="./img/mainBannerArticle-2.jpg" alt="Article">
                                </div>

                                <div class="article__content-lg__overlay"></div>

                                <div class="main-mark__prod article__content-lg__mark">
                                    <span>На піжприємстві</span>
                                </div>

                                <div class="article__content-lg__watch">
                                    <div class="article__content-lg__watch-count">
                                        <span class="article__content-lg__watch-count__img">
                                            <img src="./img/watchBanner-img.svg" alt="Watch">
                                        </span>

                                        <span class="article__content-lg__watch-count__num">
                                            347
                                        </span>
                                    </div>

                                    <div class="article__content-lg__watch-date">
                                        <span>22.07.2023</span>
                                    </div>
                                </div>
                            </div>


                            <div class="article__content-sm__top-content article-sm">
                                <h3>
                                    Як вирішити проблему автоматизації контролю рівня рідини в резервуарі
                                </h3>

                                <a title="Детальніше" target="_blank" href="#!">
                                    Детальніше
                                </a>
                            </div>
                        </div>

                        <div class="main__content-article__content-sm__bott">

                            <div class="main__content-article__content-lg__block-img">
                                <div class="article__content-sm__bott-img">
                                    <img src="./img/mainBannerArticle-1.jpg" alt="Article">
                                </div>

                                <div class="article__content-lg__overlay"></div>

                                <div class="main-mark__home article__content-lg__mark">
                                    <span>Для дому</span>
                                </div>

                                <div class="article__content-lg__watch">
                                    <div class="article__content-lg__watch-count">
                                        <span class="article__content-lg__watch-count__img">
                                            <img src="./img/watchBanner-img.svg" alt="Watch">
                                        </span>

                                        <span class="article__content-lg__watch-count__num">
                                            214
                                        </span>
                                    </div>

                                    <div class="article__content-lg__watch-date">
                                        <span>21.07.2023</span>
                                    </div>
                                </div>

                            </div>



                            <div class="article__content-sm__bott-content article-sm">
                                <h3>
                                    Контролери віддаленого управління – майбутнє вже сьогодні
                                </h3>

                                <a title="Детальніше" target="_blank" href="#!">
                                    Детальніше
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>

    <!-- iframe -->
    <div id="main-popup" class="main-popup">
        <div class="main__popup-iframe">
            <iframe id="mainVideoFrame"
                data-src="https://www.youtube.com/embed/xmhXPbj76N0?si=uQjP0lUOtmmn5oAR"></iframe>
        </div>
    </div>
    <div id="main-overlay" class="main-overlay"></div>
    <!-- iframe -->

</section>