<section class="soft">
    <div class="container">

        <div class="soft__bread">
            <p>
                Головна - Матеріали - Програмне забезпечення
            </p>
        </div>

        <div class="soft__title">
            <h1>
                програмне забезпечення
            </h1>
        </div>

        <div class="soft__content">

            <!-- 1 -->
            <div class="soft__content-card">
                <div class="soft__content-card__img">

                    <div class="soft__content-card__img-title">
                        <h2>
                            Реле напруги РН-25t
                        </h2>
                    </div>

                    <div class="soft__content-card__img-thumb">
                        <img src="./img/softImg-1.jpg" alt="Реле напруги РН-25t">
                    </div>
                </div>

                <div class="soft__content-card__descr">
                    <div class="soft__content-card__descr-title">
                        <h2>
                            Реле напруги РН-25t
                        </h2>
                    </div>

                    <div class="soft__content-card__descr-download">
                        <div class="card__descr-download__pc">
                            <h3>Програмне забезпечення</h3>

                            <div class="card__descr-download__pc-item">
                                <div class="download__pc-item__thumb">
                                    <img src="./img/pc-icon.svg" alt="PC">
                                </div>
                                <div class="download__pc-item__loading">
                                    <a download="#!" href="#!">
                                        <span class="download__pc-item__loading-text">
                                            РН-25t - Web API
                                        </span>

                                        <span class="download__pc-item__loading-img">
                                            <img src="./img/download-icon.svg" alt="Download">
                                        </span>
                                    </a>
                                </div>
                            </div>

                            <div class="card__descr-download__pc-item">
                                <div class="download__pc-item__thumb">
                                    <img src="./img/pc-icon.svg" alt="PC">
                                </div>
                                <div class="download__pc-item__loading">
                                    <a download="#!" href="#!">
                                        <span class="download__pc-item__loading-text">
                                            РН-25t - Web API
                                        </span>

                                        <span class="download__pc-item__loading-img">
                                            <img src="./img/download-icon.svg" alt="Download">
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="card__descr-download__pdf">
                            <h3>Технічна документація</h3>

                            <div class="card__descr-download__pc-item">
                                <div class="download__pc-item__thumb">
                                    <img src="./img/pdf-icon.svg" alt="PDF">
                                </div>
                                <div class="download__pc-item__loading">
                                    <a download="#!" href="#!">
                                        <span class="download__pc-item__loading-text">
                                            РН-25t - технічна документація для пристрою.pdf
                                        </span>

                                        <span class="download__pc-item__loading-img">
                                            <img src="./img/download-icon.svg" alt="Download">
                                        </span>
                                    </a>
                                </div>
                            </div>

                            <div class="card__descr-download__pc-item">
                                <div class="download__pc-item__thumb">
                                    <img src="./img/pdf-icon.svg" alt="PDF">
                                </div>
                                <div class="download__pc-item__loading">
                                    <a download="#!" href="#!">
                                        <span class="download__pc-item__loading-text">
                                            РН-25t - технічна документація для пристрою.pdf
                                        </span>

                                        <span class="download__pc-item__loading-img">
                                            <img src="./img/download-icon.svg" alt="Download">
                                        </span>
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- 1 -->

            <!-- 2 -->
            <div class="soft-card__download soft__content-card">
                <div class=" soft__content-card__img">
                    <div class="soft__content-card__img-title">
                        <h2>
                            Модуль вводу-виводу цифровий OB-215/216
                        </h2>
                    </div>

                    <div class="soft__content-card__img-thumb">
                        <img src="./img/softImg-2.jpg" alt="Модуль вводу-виводу цифровий OB-215/216">
                    </div>
                </div>

                <div class="descr-btn soft__content-card__descr">
                    <div class="descr-btn__title soft__content-card__descr-title">
                        <h2>
                            Модуль вводу-виводу цифровий OB-215/216
                        </h2>

                        <p>
                            Завантажити панель керуваня для ПК
                        </p>
                    </div>

                    <div class="soft__content-card__descr-btn">
                        <a download="#!" href="#!">
                            <span class="card__descr-btn__text">Завантажити</span>
                            <span class="card__descr-btn__img">
                                <img src="./img/load-btn.svg" alt="Load">
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <!-- 2 -->

            <!-- 3 -->
            <div class="soft__content-card">
                <div class="soft__content-card__img">
                    <div class="soft__content-card__img-title">
                        <h2>
                            Контролер WEB-доступу до управління modbus – обладнанням EM-481
                        </h2>
                    </div>

                    <div class="soft__content-card__img-thumb">
                        <img src="./img/softImg-3.jpg"
                            alt="Контролер WEB-доступу до управління modbus – обладнанням EM-481">
                    </div>
                </div>

                <div class="soft__content-card__descr">
                    <div class="soft__content-card__descr-title">
                        <h2>
                            Контролер WEB-доступу до управління modbus – обладнанням EM-481
                        </h2>
                    </div>

                    <div class="soft__content-card__descr-download">
                        <div class="card__descr-download__pc">
                            <h3>Програмне забезпечення</h3>

                            <div class="card__descr-download__pc-item">
                                <div class="download__pc-item__thumb">
                                    <img src="./img/pc-icon.svg" alt="PC">
                                </div>
                                <div class="download__pc-item__loading">
                                    <a download="#!" href="#!">
                                        <span class="download__pc-item__loading-text">
                                            EM-481 - Web API
                                        </span>

                                        <span class="download__pc-item__loading-img">
                                            <img src="./img/download-icon.svg" alt="Download">
                                        </span>
                                    </a>
                                </div>
                            </div>

                        </div>
                        <div class="card__descr-download__pdf">
                            <h3>Технічна документація</h3>

                            <div class="card__descr-download__pc-item">
                                <div class="download__pc-item__thumb">
                                    <img src="./img/pdf-icon.svg" alt="PDF">
                                </div>
                                <div class="download__pc-item__loading">
                                    <a download="#!" href="#!">
                                        <span class="download__pc-item__loading-text">
                                            EM-481 - технічна документація для пристрою.pdf
                                        </span>

                                        <span class="download__pc-item__loading-img">
                                            <img src="./img/download-icon.svg" alt="Download">
                                        </span>
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- 3 -->

            <!-- 4 -->
            <div class="soft__content-card">
                <div class="soft__content-card__img">
                    <div class="soft__content-card__img-title">
                        <h2>
                            Універсальний блок захисту електродвигунів УБЗ-305
                        </h2>
                    </div>

                    <div class="soft__content-card__img-thumb">
                        <img src="./img/softImg-4.jpg" alt="Універсальний блок захисту електродвигунів  УБЗ-305">
                    </div>
                </div>

                <div class="soft__content-card__descr">
                    <div class="soft__content-card__descr-title">
                        <h2>
                            Універсальний блок захисту електродвигунів УБЗ-305
                        </h2>
                    </div>

                    <div class="soft__content-card__descr-download">
                        <div class="card__descr-download__pc">
                            <h3>Програмне забезпечення</h3>

                            <div class="card__descr-download__pc-item">
                                <div class="download__pc-item__thumb">
                                    <img src="./img/pc-icon.svg" alt="PC">
                                </div>
                                <div class="download__pc-item__loading">
                                    <a download="#!" href="#!">
                                        <span class="download__pc-item__loading-text">
                                            УБЗ-305 - Web API
                                        </span>

                                        <span class="download__pc-item__loading-img">
                                            <img src="./img/download-icon.svg" alt="Download">
                                        </span>
                                    </a>
                                </div>
                            </div>

                        </div>
                        <div class="card__descr-download__pdf">
                            <h3>Технічна документація</h3>

                            <div class="card__descr-download__pc-item">
                                <div class="download__pc-item__thumb">
                                    <img src="./img/pdf-icon.svg" alt="PDF">
                                </div>
                                <div class="download__pc-item__loading">
                                    <a download="#!" href="#!">
                                        <span class="download__pc-item__loading-text">
                                            УБЗ-305 - технічна документація для пристрою.pdf
                                        </span>

                                        <span class="download__pc-item__loading-img">
                                            <img src="./img/download-icon.svg" alt="Download">
                                        </span>
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- 4 -->

            <!-- 5 -->
            <div class="soft__content-card">
                <div class="soft__content-card__img">

                    <div class="soft__content-card__img-title">
                        <h2>
                            Wi-Fi лічильник електроенергії з функцією захисту та управління EM-129
                        </h2>
                    </div>

                    <div class="soft__content-card__img-thumb">
                        <img src="./img/softImg-5.jpg"
                            alt="Wi-Fi лічильник електроенергії з функцією захисту та управління EM-129">
                    </div>
                </div>

                <div class="soft__content-card__descr">
                    <div class="soft__content-card__descr-title">
                        <h2>
                            Wi-Fi лічильник електроенергії з функцією захисту та управління EM-129
                        </h2>
                    </div>

                    <div class="soft__content-card__descr-download">
                        <div class="card__descr-download__pc">
                            <h3>Програмне забезпечення</h3>

                            <div class="card__descr-download__pc-item">
                                <div class="download__pc-item__thumb">
                                    <img src="./img/pc-icon.svg" alt="PC">
                                </div>
                                <div class="download__pc-item__loading">
                                    <a download="#!" href="#!">
                                        <span class="download__pc-item__loading-text">
                                            EM-129 - Web API
                                        </span>

                                        <span class="download__pc-item__loading-img">
                                            <img src="./img/download-icon.svg" alt="Download">
                                        </span>
                                    </a>
                                </div>
                            </div>

                        </div>
                        <div class="card__descr-download__pdf">
                            <h3>Технічна документація</h3>

                            <div class="card__descr-download__pc-item">
                                <div class="download__pc-item__thumb">
                                    <img src="./img/pdf-icon.svg" alt="PDF">
                                </div>
                                <div class="download__pc-item__loading">
                                    <a download="#!" href="#!">
                                        <span class="download__pc-item__loading-text">
                                            EM-129 - технічна документація для пристрою.pdf
                                        </span>

                                        <span class="download__pc-item__loading-img">
                                            <img src="./img/download-icon.svg" alt="Download">
                                        </span>
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- 5 -->

            <!-- 6 -->
            <div class="soft__content-card">
                <div class="soft__content-card__img">
                    <div class="soft__content-card__img-title">
                        <h2>
                            Універсальний блок захисту електродвигунів УБЗ-305М
                        </h2>
                    </div>

                    <div class="soft__content-card__img-thumb">
                        <img src="./img/softImg-6.jpg" alt="Універсальний блок захисту електродвигунів  УБЗ-305М">
                    </div>
                </div>

                <div class="soft__content-card__descr">
                    <div class="soft__content-card__descr-title">
                        <h2>
                            Універсальний блок захисту електродвигунів УБЗ-305М
                        </h2>
                    </div>

                    <div class="soft__content-card__descr-download">
                        <div class="card__descr-download__pc">
                            <h3>Програмне забезпечення</h3>

                            <div class="card__descr-download__pc-item">
                                <div class="download__pc-item__thumb">
                                    <img src="./img/pc-icon.svg" alt="PC">
                                </div>
                                <div class="download__pc-item__loading">
                                    <a download="#!" href="#!">
                                        <span class="download__pc-item__loading-text">
                                            УБЗ-305М - Web API
                                        </span>

                                        <span class="download__pc-item__loading-img">
                                            <img src="./img/download-icon.svg" alt="Download">
                                        </span>
                                    </a>
                                </div>
                            </div>

                        </div>
                        <div class="card__descr-download__pdf">
                            <h3>Технічна документація</h3>

                            <div class="card__descr-download__pc-item">
                                <div class="download__pc-item__thumb">
                                    <img src="./img/pdf-icon.svg" alt="PDF">
                                </div>
                                <div class="download__pc-item__loading">
                                    <a download="#!" href="#!">
                                        <span class="download__pc-item__loading-text">
                                            УБЗ-305М - технічна документація для пристрою.pdf
                                        </span>

                                        <span class="download__pc-item__loading-img">
                                            <img src="./img/download-icon.svg" alt="Download">
                                        </span>
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- 6 -->


        </div>
    </div>
</section>