<section class="download">
    <div class="container">
        <div class="download__bread">
            <p>
                Головна - Матеріали - POSM-матеріали
            </p>
        </div>

        <div class="download__content">

            <div class="download__content-posm">
                <div class="download__content-posm__text">
                    <h1>POSM-матеріали</h1>
                    <p>
                        Ми забезпечуємо своїх клієнтів усією необхідною рекламною продукцією: буклетами, каталогами,
                        плакатами, стендами та ін.
                        У них зібрана актуальна інформація про переваги та ключові особливості пристроїв Новатек
                        Електро. Ви можете завантажити
                        будь-які файли у форматі PDF.
                        Якщо вам потрібна рекламна продукція в надрукованому вигляді, будь ласка, зв’яжіться з вашим
                        менеджером, і він вишле вам
                        усі необхідні матеріали.
                    </p>
                </div>

                <div class="download__content-posm__logo">
                    <div class="download__content-posm__logo-thumb">
                        <img src="./img/downloadLogo.jpg" alt="НОВАТЕК-ЕЛЕКТРО">
                    </div>
                </div>
            </div>


            <div class="download__content-item">

                <div class="download__content-item__down">
                    <div class="download__content-item__down-items">
                        <a download="#!" href="#!">
                            <span class="download-text__item">
                                Логотип компанії
                            </span>
                            <span class="download-icon__item">
                                <img src="./img/download-icon.svg" alt="Download">
                            </span>
                        </a>

                        <a download="#!" href="#!">
                            <span class="download-text__item">
                                Фото пристроїв
                            </span>
                            <span class="download-icon__item">
                                <img src="./img/download-icon.svg" alt="Download">
                            </span>
                        </a>

                        <a download="#!" href="#!">
                            <span class="download-text__item">
                                Фото пристроїв 360°
                            </span>
                            <span class="download-icon__item">
                                <img src="./img/download-icon.svg" alt="Download">
                            </span>
                        </a>

                        <a download="#!" href="#!">
                            <span class="download-text__item">
                                3D моделі пристроїв
                            </span>
                            <span class="download-icon__item">
                                <img src="./img/download-icon.svg" alt="Download">
                            </span>
                        </a>

                        <a download="#!" href="#!">
                            <span class="download-text__item">
                                Вигрузка для сайту на prom.ua
                            </span>
                            <span class="download-icon__item">
                                <img src="./img/download-icon.svg" alt="Download">
                            </span>
                        </a>
                    </div>
                </div>

                <div class="download__content-item__img">
                    <div class="download__content-item__img-thumb">
                        <img src="./img/downloadItem.jpg" alt="RPM-416">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>