<!-- ---------Page Catalog Head--------- -->

<section class="catalog__head">
    <div class="container">
        <div class="catalog__head-bread">
            <p class="bread-item catalog__head-bread_item">
                Головна - Товари - Однофазні реле напруги
            </p>
        </div>

        <div class="catalog__head-title">
            <h1 class="main-title">
                однофазні реле напруги
            </h1>
        </div>

        <div class="catalog__head-descr">
            <p class="main-descr">
                Однофазні реле напруги призначені для захисту однофазного навантаження від неприпустимих коливань
                мережевої напруги.
                Мають широкий діапазон регулювань, у тому числі регулювання затримки на включення для захисту
                холодильного,
                компресорного та кондиціонерного обладнання.
            </p>
        </div>
    </div>
</section>