<!-- ---------Page Catalog Foot--------- -->
<section class="catalog__foot">
    <div class="container">

        <div class="catalog__foot-content">

            <div class="catalog__foot-content_descr">
                <div class="catalog__foot-title">
                    <h2 class="foot-title">
                        однофазні реле напруги
                    </h2>
                </div>

                <div class="catalog__foot-descr">
                    <p class="foot-descr">
                        Однофазне реле напруги – це пристрій, призначення якого, полягає в автоматичному контролі діючої
                        напруги
                        мережі і
                        захисту (відключення) обладнання: побутової техніки, інших механізмів в будинках і офісах. Даний
                        процес
                        є необхідним у
                        тому випадку, коли напруга відхиляється від встановлених значень.
                        Реле напруги (однофазне) – виконує тільки функцію захисту від перепадів напруги. Коли
                        електромережа
                        зношена, неправильно
                        виконано розподіл однофазних навантажень (з огляду на низьку кваліфікацію обслуговуючого
                        персоналу),
                        а
                        також при «обриві
                        нуля» або будь-якій інший аварійної ситуації в електромережі, даний прилад виконує захист
                        «споживача»
                        шляхом
                        відключення, для того щоб попередити вихід з ладу техніки.
                    </p>
                </div>
            </div>

            <div class="catalog__foot-content_help">
                <div class="catalog__foot-title">
                    <h2 class="foot-title">
                        У ЯКИХ ВИПАДКАХ НЕОБХІДНО РЕЛЕ НАПРУГИ
                    </h2>
                </div>

                <div class="catalog__foot-descr">
                    <p class="foot-descr">
                        Компанія-виробник «Новатек-Електро» є успішним розробником електротехнічної продукції, в тому
                        числі і пристроїв захисту
                        від стрибків напруги. Наші рекомендації по вибору реле напруги, купити яке ви можете, зробивши
                        замовлення,
                        безпосередньо, на офіційному сайті компанії, визначено такими позиціями:
                        При необхідності захисту від стрибків напруги в квартирі, де, обрив нейтралі – явище нерідке. В
                        цьому випадку, однофазне
                        реле напруги для будинку, стане порятунком побутової техніки, так як, при обриві нуля, на деяких
                        фазах відбувається
                        небезпечне зростання напруги до 380В і багато пристроїв, підключені до електромережі, просто
                        виходять з ладу.
                        При наявності в будинку трьох фаз, після включення декількох однофазних «споживачів» з високою
                        потужністю може виникнути
                        перекос струмів в фазах, що викличе падіння напруги на найбільш завантаженій фазі в такому
                        випадку для захисту від
                        стрибків напруги в електромережі, краще придбати декілька однофазних реле напруги. Це допоможе
                        захистити техніку,
                        підключену на фазу з неприпустимими параметрами, а на інших фазах на яких напруги задовольняє
                        вимогам відключення
                        проводитися не буде.
                        Якщо немає можливості встановити реле напруги на всю квартиру, то для індивідуального захисту
                        електроприладів допоможе
                        реле напруги вилка-розетка, яка автоматично відключить підключену до нього техніку при
                        неприпустимих відхиленнях
                        напруги, а при його нормальних показниках, відновить роботу пристроїв.
                        Як правильно вибрати захист від стрибків напруги
                        Аварійних та інших неприємних ситуацій зі стрибками напруги в електромережі, можна уникнути,
                        якщо підключити вашу
                        техніку до мережі через реле напруги вилка-розетка, або встановити реле напруги на DIN-рейку у
                        вступному щиті.
                        При покупці приладу, варто враховувати запас його потужності, на 20-30% більше, ніж максимально
                        допустима потужність
                        навантаження. Попросту кажучи, якщо автоматичний вимикач розрахований на 25 А, то вибір реле
                        напруги повинен бути не
                        менше, ніж на 32 А.
                        Більш детальну інформацію про однофазні прилади для захисту від перепадів напруги, можна
                        отримати, ознайомившись з
                        продукцією нашої компанії, у відповідному розділі на сайті, а також за допомогою контакту з
                        менеджерами.
                    </p>
                </div>
            </div>

            <div class="catalog__foot-content_garant">
                <div class="catalog__foot-title">
                    <h2 class="foot-title">
                        ГАРАНТІЯ ЯКОСТІ ВІД «НОВАТЕК-ЕЛЕКТРО»
                    </h2>
                </div>

                <div class="catalog__foot-descr">
                    <p class="foot-descr">
                        Продукція «Новатек-Електро» представлена в багатьох країнах світу, а це означає, що пристрої,
                        розроблені нами,
                        затребувані і конкурентоспроможні. Купуючи нашу продукцію, ви отримуєте сертифікований товар з
                        гарантією до 5 років.
                        Ми працюємо з роздрібними покупцями, відпускаємо продукцію оптом і реалізуємо її за допомогою
                        дилерів. Для кожного
                        нашого клієнта умови реалізації і доставки, будуть вигідними і доступними.
                        У нас ви можете придбати наступні види однофазних реле напруги, кожне з яких має свій тип
                        підключення:
                        Volt Control серії Вилка-розетка – даний прилад працює за допомогою його підключення в розетку і
                        застосовується для
                        захисту окремого побутового пристрою або групи «споживачів»;
                        Volt Control (для установки в розподільний щит) – пристрій з широким діапазоном регулювань, що
                        підходить для захисту не
                        тільки окремого приладу, але також і пристроїв по всій квартирі, в будинку і на промислових
                        об’єктах.
                        Монтують його в щиті на стандартну DIN – рейку.
                    </p>
                </div>
            </div>

        </div>

    </div>
</section>