<section class="form__done" id="formDone" style="display: none;">
    <div class="container container-uniq">
        <div class="form__done-bread">
            <p>Головна - Кошик</p>
        </div>
        <div class="form__done-content">
            <div class="form__done-content__block">
                <h1>Ваше замовлення прийнято!</h1>
                <h2 class="form__done-subtitle">Номер вашого замовлення: 3257851</h2>
                <h2 class="form__done-descr">Наш менеджер зв'яжеться з вами найближчим часом!</h2>
                <a href="/">На головну</a>
            </div>
        </div>
    </div>
    <div class="cart__article-footer">
        <div class="container">
            <div class="cart__article-footer__content">
                <span>
                    ©
                </span>
                <h4>
                    Novatek-Electro
                </h4>
                <span>
                    |
                </span>
                <span>
                    2023
                </span>
            </div>
        </div>
    </div>
</section>