<section class="services">
    <div class="container">

        <div class="services__bread">
            <p>
                Головна - Послуги - WEB-монiторинг
            </p>
        </div>

        <div class="services__intro">
            <div class="services__intro-img">
                <img src="./img/contact-intro.jpg"
                    alt="Послуга з впровадження моніторингу та контролю обладнання від “НОВАТЕК-ЕЛЕКТРО”">
            </div>

            <div class="services__intro-overlay"></div>

            <div class="services__intro-title">
                <h1>
                    Послуга з впровадження моніторингу та контролю обладнання від “НОВАТЕК-ЕЛЕКТРО”
                </h1>
            </div>
        </div>

        <div class="services__content">

            <div class="services__content-about">
                <div class="services__content-about__title">
                    <h2>
                        Про послугу
                    </h2>
                </div>

                <div class="services__content-about__descr">
                    <p>
                        Компанія “Новатек-Електро” надає послугу запровадження моніторингу та автоматизації на
                        промислові об’єкти.
                    </p>

                    <p>
                        Ми надаємо “під ключ” повний контроль та автоматизації різної складності, зручні графічні
                        уявлення та звіти,
                        універсальний web-інтерфейс.
                    </p>

                    <p>
                        Все це доступно за мінімальною вартістю завдяки тому, що ми є виробниками всього необхідного
                        обладнання та програмного
                        забезпечення.
                    </p>
                </div>
            </div>


            <div class="services__content-monitor">
                <div class="services__content-monitor__descr">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vitae scelerisque leo. Integer
                        vestibulum purus sed
                        lacus varius, sit amet tincidunt arcu varius.
                    </p>

                    <p>
                        Nunc sodales, felis at suscipit cursus, dolor nulla varius nunc, id congue elit erat sit amet
                        purus. In quis eros
                        egestas, vestibulum neque fermentum, egestas nunc. Duis molestie molestie faucibus. Maecenas
                        molestie sem ac turpis
                        vestibulum, sed mattis leo faucibus.
                    </p>
                </div>

                <div class="services__content-monitor__img">
                    <div class="services__content-monitor__img-thumb">
                        <img src="./img/monitor-img.jpg" alt="Monitor">
                    </div>
                </div>
            </div>

            <div class="services__content-power">
                <div class="services__content-power__img">
                    <div class="services__content-power__img-thumb">
                        <img src="./img/power-img.jpg" alt="Power">
                    </div>
                </div>

                <div class="services__content-power__descr">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vitae scelerisque leo. Integer
                        vestibulum purus sed
                        lacus varius, sit amet tincidunt arcu varius.
                    </p>

                    <p>
                        Nunc sodales, felis at suscipit cursus, dolor nulla varius nunc, id congue elit erat sit amet
                        purus. In quis eros
                        egestas, vestibulum neque fermentum, egestas nunc. Duis molestie molestie faucibus. Maecenas
                        molestie sem ac turpis
                        vestibulum, sed mattis leo faucibus.
                    </p>
                </div>

            </div>

            <div class="services__content-scheme">
                <div class="services__content-scheme__title">
                    <h3>
                        Схема роботи:
                    </h3>
                </div>

                <div class="popup-scheme services__content-scheme__img">
                    <div class="services__content-scheme__img-thumb">
                        <img src="./img/workScheme.jpg" alt="Scheme">
                    </div>

                    <div class="services__content-scheme__zoom">
                        <img src="./img/scheme-zoom.svg" alt="Zoom">
                    </div>


                </div>
            </div>

            <div class="services__content-receive">
                <div class="services__content-receive__title">
                    <h3>З нами Ви отримаєте:</h3>
                </div>

                <div class="services__content-receive__list">
                    <ul>
                        <li>
                            <span>Управління:</span>
                            локальний контроль на об’єкті або віддалений моніторинг через хмару – вибирайте те, що Вам
                            зручно.
                        </li>

                        <li>
                            <span>
                                Автоматизація:
                            </span>
                            від простих операцій до складних процедур, включаючи синхронізацію за часом, добові таймери
                            та багато іншого.
                        </li>

                        <li>
                            <span>
                                Наочність даних:
                            </span>
                            зручні графічні уявлення та персоналізовані звіти для аналізу роботи устаткування.
                        </li>

                        <li>
                            <span>
                                Універсальність доступу:
                            </span>

                            web-інтерфейс, сумісний з будь-якими пристроями, ПК або мобільні гаджети.
                        </li>

                        <li>
                            <span>
                                Інтеграція:
                            </span>

                            можливість інтеграції моніторингу та управління з іншими системами на вимогу замовника.
                        </li>
                    </ul>
                </div>
            </div>

            <div class="services__content-give">
                <div class="services__content-give__item">
                    <div class="services__content-give__item-img">
                        <img src="./img/servicesGive-1.jpg"
                            alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vitae scelerisque leo">
                    </div>

                    <div class="services__content-give__item-overlay">
                        <img src="./img/overlay-bg.svg" alt="">
                    </div>

                    <div class="services__content-give__item-title">
                        <h2>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Mauris vitae scelerisque leo
                        </h2>
                    </div>

                    <div class="services__content-give__item-descr">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vitae scelerisque leo.
                            Integer
                            vestibulum purus sed
                            lacus varius, sit amet tincidunt arcu varius. Nunc sodales, felis at suscipit cursus, dolor
                            nulla varius nunc, id congue
                            elit erat sit amet purus. In quis eros egestas, vestibulum neque fermentum, egestas nunc.
                        </p>
                    </div>

                    <div class="services__content-give__item-overlay__mobile">
                        <div class="item-overlay__mobile-title">
                            <h2>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Mauris vitae scelerisque leo
                            </h2>
                        </div>

                        <div class="item-overlay__mobile-descr">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vitae scelerisque leo.
                                Integer
                                vestibulum purus sed
                                lacus varius, sit amet tincidunt arcu varius. Nunc sodales, felis at suscipit cursus,
                                dolor
                                nulla varius nunc, id congue
                                elit erat sit amet purus. In quis eros egestas, vestibulum neque fermentum, egestas
                                nunc.
                            </p>
                        </div>

                        <div class="item-overlay__mobile-bg">
                            <img src="./img/overlay-bg.svg" alt="">
                        </div>
                    </div>

                </div>

                <div class="services__content-give__item">
                    <div class="services__content-give__item-img">
                        <img src="./img/servicesGive-2.jpg" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Mauris vitae scelerisque leo">
                    </div>

                    <div class="services__content-give__item-overlay">
                        <img src="./img/overlay-bg.svg" alt="">
                    </div>

                    <div class="services__content-give__item-title">
                        <h2>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Mauris vitae scelerisque leo
                        </h2>
                    </div>

                    <div class="services__content-give__item-descr">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vitae scelerisque leo.
                            Integer
                            vestibulum purus sed
                            lacus varius, sit amet tincidunt arcu varius. Nunc sodales, felis at suscipit cursus, dolor
                            nulla varius nunc, id congue
                            elit erat sit amet purus. In quis eros egestas, vestibulum neque fermentum, egestas nunc.
                        </p>
                    </div>

                    <div class="services__content-give__item-overlay__mobile">
                        <div class="item-overlay__mobile-title">
                            <h2>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Mauris vitae scelerisque leo
                            </h2>
                        </div>

                        <div class="item-overlay__mobile-descr">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vitae scelerisque leo.
                                Integer
                                vestibulum purus sed
                                lacus varius, sit amet tincidunt arcu varius. Nunc sodales, felis at suscipit cursus,
                                dolor
                                nulla varius nunc, id congue
                                elit erat sit amet purus. In quis eros egestas, vestibulum neque fermentum, egestas
                                nunc.
                            </p>
                        </div>

                        <div class="item-overlay__mobile-bg">
                            <img src="./img/overlay-bg.svg" alt="">
                        </div>
                    </div>

                </div>

                <div class="services__content-give__item">
                    <div class="services__content-give__item-img">
                        <img src="./img/servicesGive-3.jpg" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Mauris vitae scelerisque leo">
                    </div>

                    <div class="services__content-give__item-overlay">
                        <img src="./img/overlay-bg.svg" alt="">
                    </div>

                    <div class="services__content-give__item-title">
                        <h2>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Mauris vitae scelerisque leo
                        </h2>
                    </div>

                    <div class="services__content-give__item-descr">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vitae scelerisque leo.
                            Integer
                            vestibulum purus sed
                            lacus varius, sit amet tincidunt arcu varius. Nunc sodales, felis at suscipit cursus, dolor
                            nulla varius nunc, id congue
                            elit erat sit amet purus. In quis eros egestas, vestibulum neque fermentum, egestas nunc.
                        </p>
                    </div>

                    <div class="services__content-give__item-overlay__mobile">
                        <div class="item-overlay__mobile-title">
                            <h2>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Mauris vitae scelerisque leo
                            </h2>
                        </div>

                        <div class="item-overlay__mobile-descr">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vitae scelerisque leo.
                                Integer
                                vestibulum purus sed
                                lacus varius, sit amet tincidunt arcu varius. Nunc sodales, felis at suscipit cursus,
                                dolor
                                nulla varius nunc, id congue
                                elit erat sit amet purus. In quis eros egestas, vestibulum neque fermentum, egestas
                                nunc.
                            </p>
                        </div>

                        <div class="item-overlay__mobile-bg">
                            <img src="./img/overlay-bg.svg" alt="">
                        </div>
                    </div>
                </div>

                <div class="services__content-give__item">
                    <div class="services__content-give__item-img">
                        <img src="./img/servicesGive-1.jpg" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Mauris vitae scelerisque leo">
                    </div>

                    <div class="services__content-give__item-overlay">
                        <img src="./img/overlay-bg.svg" alt="">
                    </div>

                    <div class="services__content-give__item-title">
                        <h2>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Mauris vitae scelerisque leo
                        </h2>
                    </div>

                    <div class="services__content-give__item-descr">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vitae scelerisque leo.
                            Integer
                            vestibulum purus sed
                            lacus varius, sit amet tincidunt arcu varius. Nunc sodales, felis at suscipit cursus, dolor
                            nulla varius nunc, id congue
                            elit erat sit amet purus. In quis eros egestas, vestibulum neque fermentum, egestas nunc.
                        </p>
                    </div>

                    <div class="services__content-give__item-overlay__mobile">
                        <div class="item-overlay__mobile-title">
                            <h2>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Mauris vitae scelerisque leo
                            </h2>
                        </div>

                        <div class="item-overlay__mobile-descr">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vitae scelerisque leo.
                                Integer
                                vestibulum purus sed
                                lacus varius, sit amet tincidunt arcu varius. Nunc sodales, felis at suscipit cursus,
                                dolor
                                nulla varius nunc, id congue
                                elit erat sit amet purus. In quis eros egestas, vestibulum neque fermentum, egestas
                                nunc.
                            </p>
                        </div>

                        <div class="item-overlay__mobile-bg">
                            <img src="./img/overlay-bg.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>

            <div class="services__content-give__btn">
                <a href="#!">
                    <span>
                        Замовити послугу
                    </span>
                </a>
            </div>

            <div class="services__content-blockscheme">
                <div class="popup-scheme services__content-blockscheme__img">
                    <div class="services__content-blockscheme__img-left">
                        <img src="./img/servicesScheme-1.jpg" alt="Scheme">
                    </div>

                    <div class="services__content-scheme__zoom">
                        <img src="./img/scheme-zoom.svg" alt="Zoom">
                    </div>
                </div>

                <div class="popup-scheme services__content-blockscheme__img">
                    <div class="services__content-blockscheme__img-right">
                        <img src="./img/servicesScheme-2.jpg" alt="Scheme">
                    </div>

                    <div class="services__content-scheme__zoom">
                        <img src="./img/scheme-zoom.svg" alt="Zoom">
                    </div>
                </div>
            </div>

            <div class="services__content-exp">
                <div class="services__content-exp__img">
                    <div class="services__content-exp__img-thumb">
                        <img src="./img/schemeExp.jpg" alt="Scheme">
                    </div>
                </div>

                <div class="services__content-exp__list">
                    <p>
                        Наш досвід на ринку підтверджує ефективність та надійність наших рішень.
                    </p>

                    <p>
                        Більше сотні об’єктів успішно використовують наші послуги
                        у таких сферах промисловості, як:
                    </p>

                    <ul>
                        <li>
                            охолодження
                        </li>
                        <li>
                            обігрів
                        </li>

                        <li>
                            сільське господарство
                        </li>

                        <li>
                            HVAC
                        </li>

                        <li>
                            облік ресурсів
                        </li>

                        <li>
                            насосні станції
                        </li>
                    </ul>
                </div>
            </div>

            <div class="services__content-monitoring">
                <p>
                    Наші послуги запровадження моніторингу доступні по всій країні. Типова вартість робіт для невеликих
                    об’єктів разом із
                    ціною обладнання становить від 37000 грн. У разі потреби виїзду на об’єкт та встановлення обладнання
                    ми співпрацюємо з
                    досвідченими підрядниками.
                    Не проґавте можливість оптимізувати роботу Вашого підприємства та знизити витрати! Зв’яжіться з
                    нашими менеджерами для
                    безкоштовного розрахунку вартості вирішення вашого завдання моніторингу.
                </p>
            </div>

            <div class="popup-scheme services__content-wifi">
                <div class="services__content-wifi__img-thumb">
                    <img src="./img/servicesScheme-5.jpg" alt="Scheme">
                </div>

                <div class="services__content-scheme__zoom">
                    <img src="./img/scheme-zoom.svg" alt="Zoom">
                </div>
            </div>

            <div class="services__content-answer">
                <div class="services__content-answer__title">
                    <h3>Питання та відповіді:</h3>
                </div>

                <div class="services__cpntent-answer__container">

                    <div class="container-acc">
                        <div class="question">
                            <h3>
                                Які основні етапи впровадження моніторингу та автоматизації на мій об’єкт?
                            </h3>

                        </div>
                        <div class="answercont">
                            <div class="answer">
                                Спочатку ми проводимо безкоштовну оцінку вартості та термінів для вашого завдання. Потім
                                розробляємо технічне завдання з
                                чіткими термінами та списком обладнання.
                                Після затвердження ТЗ створюємо інженерне рішення на основі наших пристроїв та ПЗ. Потім
                                встановлюємо пристрої на
                                об’єкті, проводимо тестування та коригуємо всі виявлені недоліки. Після тестування
                                запускаємо систему у повноцінному
                                режимі.
                            </div>
                        </div>
                    </div>

                    <div class="container-acc">
                        <div class="question">
                            <h3>
                                У чому переваги вашої системи перед іншими рішеннями на ринку?
                            </h3>

                        </div>
                        <div class="answercont">
                            <div class="answer">
                                Спочатку ми проводимо безкоштовну оцінку вартості та термінів для вашого завдання. Потім
                                розробляємо технічне завдання з
                                чіткими термінами та списком обладнання.
                                Після затвердження ТЗ створюємо інженерне рішення на основі наших пристроїв та ПЗ. Потім
                                встановлюємо пристрої на
                                об’єкті, проводимо тестування та коригуємо всі виявлені недоліки. Після тестування
                                запускаємо систему у повноцінному
                                режимі.
                            </div>
                        </div>
                    </div>

                    <div class="container-acc">
                        <div class="question">
                            <h3>
                                Які типи об’єктів та промислових секторів підходять для вашого рішення?
                            </h3>

                        </div>
                        <div class="answercont">
                            <div class="answer">
                                Спочатку ми проводимо безкоштовну оцінку вартості та термінів для вашого завдання. Потім
                                розробляємо технічне завдання з
                                чіткими термінами та списком обладнання.
                                Після затвердження ТЗ створюємо інженерне рішення на основі наших пристроїв та ПЗ. Потім
                                встановлюємо пристрої на
                                об’єкті, проводимо тестування та коригуємо всі виявлені недоліки. Після тестування
                                запускаємо систему у повноцінному
                                режимі.
                            </div>
                        </div>
                    </div>

                    <div class="container-acc">
                        <div class="question">
                            <h3>
                                Які вимоги до підключення та налаштування обладнання на моєму об’єкті?
                            </h3>

                        </div>
                        <div class="answercont">
                            <div class="answer">
                                Спочатку ми проводимо безкоштовну оцінку вартості та термінів для вашого завдання. Потім
                                розробляємо технічне завдання з
                                чіткими термінами та списком обладнання.
                                Після затвердження ТЗ створюємо інженерне рішення на основі наших пристроїв та ПЗ. Потім
                                встановлюємо пристрої на
                                об’єкті, проводимо тестування та коригуємо всі виявлені недоліки. Після тестування
                                запускаємо систему у повноцінному
                                режимі.
                            </div>
                        </div>
                    </div>

                    <div class="container-acc">
                        <div class="question">
                            <h3>
                                Як забезпечується безпека даних під час використання вашої системи моніторингу та
                                автоматизації?
                            </h3>

                        </div>
                        <div class="answercont">
                            <div class="answer">
                                Спочатку ми проводимо безкоштовну оцінку вартості та термінів для вашого завдання. Потім
                                розробляємо технічне завдання з
                                чіткими термінами та списком обладнання.
                                Після затвердження ТЗ створюємо інженерне рішення на основі наших пристроїв та ПЗ. Потім
                                встановлюємо пристрої на
                                об’єкті, проводимо тестування та коригуємо всі виявлені недоліки. Після тестування
                                запускаємо систему у повноцінному
                                режимі.
                            </div>
                        </div>
                    </div>

                    <div class="container-acc">
                        <div class="question">
                            <h3>
                                Чи можливе розширення функціоналу системи у майбутньому?
                            </h3>

                        </div>
                        <div class="answercont">
                            <div class="answer">
                                Спочатку ми проводимо безкоштовну оцінку вартості та термінів для вашого завдання. Потім
                                розробляємо технічне завдання з
                                чіткими термінами та списком обладнання.
                                Після затвердження ТЗ створюємо інженерне рішення на основі наших пристроїв та ПЗ. Потім
                                встановлюємо пристрої на
                                об’єкті, проводимо тестування та коригуємо всі виявлені недоліки. Після тестування
                                запускаємо систему у повноцінному
                                режимі.
                            </div>
                        </div>
                    </div>

                    <div class="container-acc">
                        <div class="question">
                            <h3>
                                Як працює технічна підтримка та обслуговування після впровадження системи?
                            </h3>

                        </div>
                        <div class="answercont">
                            <div class="answer">
                                Спочатку ми проводимо безкоштовну оцінку вартості та термінів для вашого завдання. Потім
                                розробляємо технічне завдання з
                                чіткими термінами та списком обладнання.
                                Після затвердження ТЗ створюємо інженерне рішення на основі наших пристроїв та ПЗ. Потім
                                встановлюємо пристрої на
                                об’єкті, проводимо тестування та коригуємо всі виявлені недоліки. Після тестування
                                запускаємо систему у повноцінному
                                режимі.
                            </div>
                        </div>
                    </div>

                    <div class="container-acc">
                        <div class="question">
                            <h3>
                                Які умови оплати та терміни реалізації проекту?
                            </h3>

                        </div>
                        <div class="answercont">
                            <div class="answer">
                                Спочатку ми проводимо безкоштовну оцінку вартості та термінів для вашого завдання. Потім
                                розробляємо технічне завдання з
                                чіткими термінами та списком обладнання.
                                Після затвердження ТЗ створюємо інженерне рішення на основі наших пристроїв та ПЗ. Потім
                                встановлюємо пристрої на
                                об’єкті, проводимо тестування та коригуємо всі виявлені недоліки. Після тестування
                                запускаємо систему у повноцінному
                                режимі.
                            </div>
                        </div>
                    </div>

                    <div class="container-acc">
                        <div class="question">
                            <h3>
                                Які гарантії надаєте на ваше обладнання та програмне забезпечення?
                            </h3>

                        </div>
                        <div class="answercont">
                            <div class="answer">
                                Спочатку ми проводимо безкоштовну оцінку вартості та термінів для вашого завдання. Потім
                                розробляємо технічне завдання з
                                чіткими термінами та списком обладнання.
                                Після затвердження ТЗ створюємо інженерне рішення на основі наших пристроїв та ПЗ. Потім
                                встановлюємо пристрої на
                                об’єкті, проводимо тестування та коригуємо всі виявлені недоліки. Після тестування
                                запускаємо систему у повноцінному
                                режимі.
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <div class="services__content-clients">
                <div class="services__content-clients__title">
                    <h3>Наші клієнти:</h3>
                </div>

                <div class="services__image-slider swiper-container">
                    <div class="services__content-clients__gallery swiper-wrapper">
                        <div class="services__content-clients__gallery-item swiper-slide">

                            <img src="./img/servicesClients-1.jpg" alt="Kievstar">

                        </div>
                        <div class="services__content-clients__gallery-item swiper-slide">

                            <img src="./img/servicesClients-2.jpg" alt="DTEK">

                        </div>

                        <div class="services__content-clients__gallery-item swiper-slide">

                            <img src="./img/servicesClients-3.jpg" alt="Siemens">

                        </div>

                        <div class="services__content-clients__gallery-item swiper-slide">

                            <img src="./img/servicesClients-4.jpg" alt="UkrЗал">


                        </div>

                        <div class="services__content-clients__gallery-item swiper-slide">

                            <img src="./img/servicesClients-5.jpg" alt="Farmak">


                        </div>

                        <div class="services__content-clients__gallery-item swiper-slide">

                            <img src="./img/servicesClients-6.jpg" alt="Tavria">

                        </div>

                        <div class="services__content-clients__gallery-item swiper-slide">

                            <img src="./img/servicesClients-7.jpg" alt="GalAutomatic">

                        </div>

                        <div class="services__content-clients__gallery-item swiper-slide">

                            <img src="./img/servicesClients-8.jpg" alt="Kiev Energo">

                        </div>

                        <div class="services__content-clients__gallery-item swiper-slide">

                            <img src="./img/servicesClients-1.jpg" alt="Siemens">

                        </div>

                        <div class="services__content-clients__gallery-item swiper-slide">

                            <img src="./img/servicesClients-2.jpg" alt="Siemens">

                        </div>


                    </div>

                    <div class="swiper-pagination services-pagination"></div>

                    <div class="swiper-button-next services-button__next"></div>
                    <div class="swiper-button-prev services-button__prev"></div>
                </div>


                <div class="services__content-clients__btn">
                    <a href="#!">
                        <span>
                            Замовити послугу
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Schemes PopUp`s -->
    <div id="schemePopupOverlay" class="scheme__popup-overlay">
        <div class="scheme__popup-content">
            <img id="schemePopupImage" src="" alt="Popup Image">
            <span id="schemeClosePopup" class="scheme__close-popup">&times;</span>
        </div>
    </div>

</section>