<section class="about">
    <div class="container">

        <div class="about__bread">
            <p>
                Головна - Про компанiю
            </p>
        </div>

        <div class="about__intro">
            <div class="about__intro-img">
                <img src="./img/contact-intro.jpg" alt="КОМПАНІЯ «НОВАТЕК-ЕЛЕКТРО»">
            </div>

            <div class="about__intro-overlay"></div>

            <div class="about__intro-title">
                <h1>
                    КОМПАНІЯ «НОВАТЕК-ЕЛЕКТРО»
                </h1>
            </div>
        </div>

        <div class="about__content">



            <!-- year block -->
            <div class="about__content-history">
                <div class="about__content-history__descr">
                    <h2 class="about-title">Історія компанії</h2>

                    <div class="about__content-history__descr-item">
                        <p>
                            Компанія «Новатек-Електро» займається розробкою і повним циклом виробництва електротехнічної
                            продукції.
                        </p>
                        <p>
                            Працює з 1998 року і представлена на 4 континентах в більш ніж 20 країнах світу.
                        </p>
                        <p>
                            По запитах клієнтів можлива розробка і запуск у виробництво нових приладів.
                            Також можлива модернізація продукції додатковими параметрами.
                        </p>
                    </div>
                </div>

                <div class="about__content-history__year">
                    <div class="about__content-history__year-item">
                        <span>1998</span>
                        <p>Рік заснування компанії</p>
                    </div>

                    <ul class="circle-list">
                        <li class="circle-list__item circle-quality__item">
                            Міжнародні стандарти якості
                        </li>
                        <li class="circle-list__item circle-develop__item">
                            Сталий розвиток
                        </li>
                        <li class="circle-list__item circle-prod__item">
                            Власне виробництво
                        </li>
                    </ul>

                </div>
            </div>

            <!-- production block -->
            <div class="about__content-production">
                <h2 class="about__content-production__title about-title">
                    Власне виробництво
                </h2>

                <div class="about__content-production__subtitle">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc elementum interdum nisi, ut
                        blandit erat blandit feugiat.
                        Proin et mi placerat, tincidunt ex congue, porta enim. Sed in lectus eu nisi ultricies
                        dignissim. Aenean vitae leo vitae
                        ante interdum venenatis.
                    </p>
                    <p>
                        Phasellus congue, diam vel rutrum pretium, augue velit condimentum nibh, at interdum nibh sem
                        non purus. Nam sapien
                        augue, rutrum quis faucibus vel, viverra sit amet justo. Pellentesque semper, lectus sed
                        ullamcorper viverra, purus sem
                        aliquam justo, sit amet fringilla nulla sapien ut odio.
                    </p>
                </div>

                <div class="about__content-production__gallery">

                    <!-- 1 -->
                    <div class="production-video  about__content-production__gallery-item">
                        <div class="production__gallery-item__thumb">
                            <img src="./img/aboutProductionImg-1.jpg" alt="Production">
                        </div>

                        <div class="production__gallery-item__overlay"></div>

                        <div class="production__gallery-item__watch">
                            <p>дивитися відео</p>
                        </div>

                        <button class="production__gallery-item__icon">
                            <img src="./img/productionWatch-icon.svg" alt="Watch">
                        </button>

                    </div>

                    <!-- 2 -->
                    <div class="about__content-production__gallery-item">
                        <div class="production__gallery-item__thumb">
                            <img src="./img/aboutProductionImg-2.jpg" alt="Production">
                        </div>
                    </div>

                    <!-- 3 -->
                    <div class="about__content-production__gallery-item">
                        <div class="production__gallery-item__thumb">
                            <img src="./img/aboutProductionImg-3.jpg" alt="Production">
                        </div>
                    </div>

                    <!-- 4 -->
                    <div class="about__content-production__gallery-item">
                        <div class="production__gallery-item__thumb">
                            <img src="./img/aboutProductionImg-4.jpg" alt="Production">
                        </div>
                    </div>

                    <!-- 5 -->
                    <div class="about__content-production__gallery-item">
                        <div class="production__gallery-item__thumb">
                            <img src="./img/aboutProductionImg-5.jpg" alt="Production">
                        </div>
                    </div>

                </div>
            </div>

            <!-- certificate block -->
            <div class="about__content-certificate">
                <h2 class="about__content-certificate__title about-title">
                    Сертифікати якості
                </h2>

                <div class="about__content-certificate__subtitle">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc elementum interdum nisi, ut
                        blandit erat blandit feugiat.
                        Proin et mi placerat, tincidunt ex congue, porta enim. Sed in lectus eu nisi ultricies
                        dignissim. Aenean vitae leo vitae
                        ante interdum venenatis.
                    </p>

                </div>



                <!-- mobile slider -->
                <div class="slider-certificate swiper-container">
                    <div class="about__content-certificate__gallery swiper-wrapper">
                        <div class="certificate-slide swiper-slide">

                            <div class="certificate__gallery-item">
                                <div class="certificate__gallery-item__thumb">
                                    <img src="./img/certificate-img.jpg" alt="Certificate">
                                </div>

                                <div class="certificate-overlay"></div>
                            </div>

                        </div>

                        <div class="certificate-slide swiper-slide">

                            <div class="certificate__gallery-item">
                                <div class="certificate__gallery-item__thumb">
                                    <img src="./img/certificate-img.jpg" alt="Certificate">
                                </div>

                                <div class="certificate-overlay"></div>
                            </div>

                        </div>

                        <div class="certificate-slide swiper-slide">

                            <div class="certificate__gallery-item">
                                <div class="certificate__gallery-item__thumb">
                                    <img src="./img/certificate-img.jpg" alt="Certificate">
                                </div>

                                <div class="certificate-overlay"></div>
                            </div>

                        </div>

                        <div class="certificate-slide swiper-slide">

                            <div class="certificate__gallery-item">
                                <div class="certificate__gallery-item__thumb">
                                    <img src="./img/certificate-img.jpg" alt="Certificate">
                                </div>

                                <div class="certificate-overlay"></div>
                            </div>

                        </div>

                        <div class="certificate-slide swiper-slide">

                            <div class="certificate__gallery-item">
                                <div class="certificate__gallery-item__thumb">
                                    <img src="./img/certificate-img.jpg" alt="Certificate">
                                </div>

                                <div class="certificate-overlay"></div>
                            </div>

                        </div>
                    </div>

                    <div class="swiper-pagination certificate-pagination"></div>

                    <div class="swiper-button-next certificate-button__next"></div>
                    <div class="swiper-button-prev certificate-button__prev"></div>
                </div>
                <!-- mobile slider -->

                <!-- clients block -->

            </div>

            <!-- clients block -->
            <div class="about__content-clients">
                <h2 class="about__content-clients__title about-title">
                    Наші клієнти
                </h2>

                <div class="image-slider swiper-container slider-clients">

                    <div class="image-slider__wrapper swiper-wrapper">

                        <div class="image-slider__slide swiper-slide">
                            <div class="image-slider__slide-piece">

                                <div class="image-slider__image">
                                    <img src="./img/clientsKievstar.jpg" alt="Clients">
                                </div>
                            </div>
                        </div>

                        <div class="image-slider__slide swiper-slide">
                            <div class="image-slider__slide-piece">

                                <div class="image-slider__image">
                                    <img src="./img/clientsDtek.jpg" alt="Clients">
                                </div>
                            </div>
                        </div>



                        <div class="image-slider__slide swiper-slide">
                            <div class="image-slider__slide-piece">

                                <div class="image-slider__image">
                                    <img src="./img/clientsSiemens.jpg" alt="Clients">
                                </div>
                            </div>
                        </div>

                        <div class="image-slider__slide swiper-slide">
                            <div class="image-slider__slide-piece">

                                <div class="image-slider__image">
                                    <img src="./img/clientsUkr3al.jpg" alt="Clients">
                                </div>
                            </div>
                        </div>

                        <div class="image-slider__slide swiper-slide">
                            <div class="image-slider__slide-piece">

                                <div class="image-slider__image">
                                    <img src="./img/clientsFarmak.jpg" alt="Clients">
                                </div>
                            </div>
                        </div>

                        <div class="image-slider__slide swiper-slide">
                            <div class="image-slider__slide-piece">

                                <div class="image-slider__image">
                                    <img src="./img/clientsKievstar.jpg" alt="Clients">
                                </div>
                            </div>
                        </div>

                        <div class="image-slider__slide swiper-slide">
                            <div class="image-slider__slide-piece">
                                <div class="image-slider__image">
                                    <img src="./img/clientsDtek.jpg" alt="Clients">
                                </div>
                            </div>

                        </div>



                        <div class="image-slider__slide swiper-slide">
                            <div class="image-slider__slide-piece">

                                <div class="image-slider__image">
                                    <img src="./img/clientsSiemens.jpg" alt="Clients">
                                </div>
                            </div>
                        </div>

                        <div class="image-slider__slide swiper-slide">
                            <div class="image-slider__slide-piece">

                                <div class="image-slider__image">
                                    <img src="./img/clientsUkr3al.jpg" alt="Clients">
                                </div>
                            </div>
                        </div>

                        <div class="image-slider__slide swiper-slide">
                            <div class="image-slider__slide-piece">

                                <div class="image-slider__image">
                                    <img src="./img/clientsFarmak.jpg" alt="Clients">
                                </div>
                            </div>
                        </div>

                        <div class="image-slider__slide swiper-slide">
                            <div class="image-slider__slide-piece">

                                <div class="image-slider__image">
                                    <img src="./img/clientsUkr3al.jpg" alt="Clients">
                                </div>
                            </div>
                        </div>

                        <div class="image-slider__slide swiper-slide">
                            <div class="image-slider__slide-piece">
                                <div class="image-slider__image">
                                    <img src="./img/clientsFarmak.jpg" alt="Clients">
                                </div>
                            </div>

                        </div>


                    </div>

                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>

                    <div class="swiper-pagination"></div>

                </div>
            </div>

            <!-- parters block -->
            <div class="about__content-partners">
                <h2 class="about__content-partners__title about-title">
                    Наші партнери
                </h2>

                <div class="image-slider swiper-container slider-partners">

                    <div class="image-slider__wrapper swiper-wrapper">

                        <div class="image-slider__slide swiper-slide">
                            <div class="image-slider__slide-piece">

                                <div class="image-slider__image">
                                    <img src="./img/partnersSlide-1.jpg" alt="Partners">
                                </div>
                            </div>
                        </div>

                        <div class="image-slider__slide swiper-slide">
                            <div class="image-slider__slide-piece">

                                <div class="image-slider__image">
                                    <img src="./img/partnersSlide-2.jpg" alt="Partners">
                                </div>
                            </div>
                        </div>

                        <div class="image-slider__slide swiper-slide">
                            <div class="image-slider__slide-piece">

                                <div class="image-slider__image">
                                    <img src="./img/partnersSlide-3.jpg" alt="Partners">
                                </div>
                            </div>
                        </div>

                        <div class="image-slider__slide swiper-slide">
                            <div class="image-slider__slide-piece">

                                <div class="image-slider__image">
                                    <img src="./img/partnersSlide-4.jpg" alt="Partners">
                                </div>
                            </div>
                        </div>

                        <div class="image-slider__slide swiper-slide">
                            <div class="image-slider__slide-piece">

                                <div class="image-slider__image">
                                    <img src="./img/partnersSlide-5.jpg" alt="Partners">
                                </div>
                            </div>
                        </div>

                        <div class="image-slider__slide swiper-slide">
                            <div class="image-slider__slide-piece">

                                <div class="image-slider__image">
                                    <img src="./img/partnersSlide-6.jpg" alt="Partners">
                                </div>
                            </div>
                        </div>

                        <div class="image-slider__slide swiper-slide">
                            <div class="image-slider__slide-piece">

                                <div class="image-slider__image">
                                    <img src="./img/partnersSlide-1.jpg" alt="Partners">
                                </div>
                            </div>
                        </div>

                        <div class="image-slider__slide swiper-slide">
                            <div class="image-slider__slide-piece">

                                <div class="image-slider__image">
                                    <img src="./img/partnersSlide-2.jpg" alt="Partners">
                                </div>
                            </div>
                        </div>

                        <div class="image-slider__slide swiper-slide">
                            <div class="image-slider__slide-piece">

                                <div class="image-slider__image">
                                    <img src="./img/partnersSlide-3.jpg" alt="Partners">
                                </div>
                            </div>
                        </div>

                        <div class="image-slider__slide swiper-slide">
                            <div class="image-slider__slide-piece">

                                <div class="image-slider__image">
                                    <img src="./img/partnersSlide-4.jpg" alt="Partners">
                                </div>
                            </div>
                        </div>

                        <div class="image-slider__slide swiper-slide">
                            <div class="image-slider__slide-piece">

                                <div class="image-slider__image">
                                    <img src="./img/partnersSlide-5.jpg" alt="Partners">
                                </div>
                            </div>
                        </div>

                        <div class="image-slider__slide swiper-slide">
                            <div class="image-slider__slide-piece">

                                <div class="image-slider__image">
                                    <img src="./img/partnersSlide-6.jpg" alt="Partners">
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>

                    <div class="swiper-pagination"></div>

                </div>
            </div>

            <!-- contact block -->
            <div class="about__content-contacts">
                <div class="about__content-contacts__wrapper">
                    <div class="about__content-contacts__wrapper-left">
                        <div>
                            <h2 class="about__content-contacts__title about-title">
                                Наші контакти
                            </h2>
                        </div>

                        <div class="contact__map-contact__subtitle">
                            <p>
                                м. Одеса, вул. Адмірала Лазарєва 59 <br>
                                ( Колишня будівля банка “Україна” )
                            </p>
                        </div>

                        <div class="contact__map-contact__phone">
                            <h4>Телефони:</h4>
                            <a title="Зателефонувати" href="tel:+380675653768">+38 (067) 565-37-68;</a>
                            <a title="Зателефонувати" href="tel:+380503593911"> +38 (050) 359-39-11;</a>
                            <a title="Зателефонувати" href="tel:+380633013040">+38 (063) 301-30-40;</a>
                        </div>

                        <div class="contact__map-contact__email">
                            <h4>Email:</h4>
                            <a title="Надістали листа" href="mailto:example@gmail.com">example@gmail.com</a>
                        </div>

                        <div class="contact__map-contact__link">
                            <a title="Зв'язатися" href="#!" target="_blank">
                                <span>Зв'язатися з нами</span>
                            </a>
                        </div>
                    </div>

                    <div class="contact__map-img">
                        <a title="Наша локація" target="_blank"
                            href="https://www.google.com.ua/maps/place/%D1%83%D0%BB.+%D0%90%D0%B4%D0%BC%D0%B8%D1%80%D0%B0%D0%BB%D0%B0+%D0%9B%D0%B0%D0%B7%D0%B0%D1%80%D0%B5%D0%B2%D0%B0,+59,+%D0%9E%D0%B4%D0%B5%D1%81%D1%81%D0%B0,+%D0%9E%D0%B4%D0%B5%D1%81%D1%81%D0%BA%D0%B0%D1%8F+%D0%BE%D0%B1%D0%BB%D0%B0%D1%81%D1%82%D1%8C,+65000/@46.4609563,30.7182914,17z/data=!3m1!4b1!4m6!3m5!1s0x40c6322dd47c8237:0x7c278cf27f7c4436!8m2!3d46.4609526!4d30.7208663!16s%2Fg%2F1tf5j4bk?hl=ru&entry=ttu">
                            <div class="contact__map-thumb">
                                <img src="./img/map-img.jpg" alt="Map">
                            </div>
                        </a>
                    </div>
                </div>



                <div class="contact__team">

                    <div class="contact__team-card">

                        <div class="contact__team-card__item">
                            <div class="team-img">
                                <img src="./img/teamExpert-1.jpg" alt="Керівник відділу продажів">
                            </div>

                            <div class="team-info">
                                <div class="team-info__name">
                                    <h3>Віктор</h3>
                                    <p>
                                        Керівник відділу продажів
                                    </p>
                                </div>

                                <div class="team-info__email">
                                    <h3>Email:</h3>
                                    <a title="Надіслати листа" href="mailto:">
                                        alex@novatek-electro.com
                                    </a>
                                </div>

                                <div class="team-info__support">
                                    <a title="Зв'язатися" href="#!">
                                        <span>Зв'язатися</span>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="contact__team-card__item">
                            <div class="team-img">
                                <img src="./img/teamExpert-2.jpg" alt="Менеджер по роботі з постійними клієнтами">
                            </div>

                            <div class="team-info">
                                <div class="team-info__name">
                                    <h3>Яна</h3>
                                    <p>
                                        Менеджер по роботі з постійними
                                        клієнтами
                                    </p>
                                </div>

                                <div class="team-info__email">
                                    <h3>Email:</h3>
                                    <a title="Надіслати листа" href="mailto:">
                                        sales6@novatek-electro.com
                                    </a>
                                </div>

                                <div class="team-info__support">
                                    <a title="Зв'язатися" href="#!">
                                        <span>Зв'язатися</span>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="contact__team-card__item">
                            <div class="team-img">
                                <img src="./img/teamExpert-3.jpg" alt="Менеджер по роботі з новими клієнтами">
                            </div>

                            <div class="team-info">
                                <div class="team-info__name">
                                    <h3>Ксенія</h3>
                                    <p>
                                        Менеджер по роботі з новими
                                        клієнтами
                                    </p>
                                </div>

                                <div class="team-info__email">
                                    <h3>Email:</h3>
                                    <a title="Надіслати листа" href="mailto:">
                                        sales3@novatek-electro.com
                                    </a>
                                </div>

                                <div class="team-info__support">
                                    <a title="Зв'язатися" href="#!">
                                        <span>Зв'язатися</span>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="contact__team-card__item">
                            <div class="team-img">
                                <img src="./img/teamExpert-4.jpg" alt="Менеджер по роботі з постійними клієнтами">
                            </div>

                            <div class="team-info">
                                <div class="team-info__name">
                                    <h3>Віктор</h3>
                                    <p>
                                        Менеджер по роботі з постійними
                                        клієнтами
                                    </p>
                                </div>

                                <div class="team-info__email">
                                    <h3>Email:</h3>
                                    <a title="Надіслати листа" href="mailto:">
                                        sales5@novatek-electro.com
                                    </a>
                                </div>

                                <div class="team-info__support">
                                    <a title="Зв'язатися" href="#!">
                                        <span>Зв'язатися</span>
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </div>

        <!-- PopUp`s -->


        <!-- iframe -->
        <div id="about-popup" class="about-popup">
            <div class="about__popup-iframe">
                <iframe id="aboutVideoFrame"
                    data-src="https://www.youtube.com/embed/oozQ4yV__Vw?si=Q3-LR5yvA_S9ds77"></iframe>
            </div>
        </div>
        <div id="about-overlay" class="about-overlay"></div>
        <!-- iframe -->

        <!-- certificate -->
        <div class="certificate-popup" id="certificate-popup">
            <div class="certificate-popup__content">
                <img class="certificate-popup__image" src="" alt="Certificate">
            </div>
            <div class="certificate__popup-overlay" id="certificate__popup-overlay"></div>
        </div>
        <!-- certificate -->

</section>