<section class="blog__main">
    <div class="container">
        <div class="blog__main-bread">
            <p>Головна - Блог</p>
        </div>

        <div class="blog__main-title">
            <h1>блог</h1>
        </div>

        <div class="blog__main-content">

            <!-- category -->
            <div class="blog__main-content__category">
                <div class="blog__main-content__category-title">
                    <h3>Категорії:</h3>
                </div>

                <div class="blog__main-content__category-item">
                    <div class="desktop-categories">
                        <span class="filters-item home-article" data-category="home">Для дому</span>
                        <span class="filters-item work-article" data-category="work">На підприємстві</span>
                        <span class="filters-item advice-article" data-category="advice">Поради</span>
                        <span class="filters-item instruction-article" data-category="instruction">Інструкції</span>
                    </div>

                    <!-- Дропдаун для мобильных -->
                    <div class="mobile-dropdown__blog">
                        <button class="dropdown-toggle" id="categoryDropdown" data-toggle="dropdown">
                            <div class="button-text">Вибрати</div>

                            <div class="icon-container">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M7 10L12 15L17 10" stroke="#A0A0A0" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                </svg>
                            </div>

                        </button>
                        <div class="dropdown-menu" aria-labelledby="categoryDropdown">
                            <span class="filters-item home-article" data-category="home">Для дому</span>
                            <span class="filters-item work-article" data-category="work">На підприємстві</span>
                            <span class="filters-item advice-article" data-category="advice">Поради</span>
                            <span class="filters-item instruction-article" data-category="instruction">Інструкції</span>
                        </div>
                    </div>

                    <span class="skip-article" data-category="skip">скинути фільтр</span>
                </div>



            </div>
            <!-- category -->

            <!-- all item -->
            <div class="all-filters active blog__main-content__category-gallery">

                <div class="blog__item-pagination">

                    <!-- 1 -->
                    <div class="category-gallery__item">
                        <div class="category-gallery__item-banner">
                            <div class="category-gallery__item-banner__img">
                                <img src="./img/blogMainImg-1.jpg"
                                    alt="Як забезпечити захист електроприладів за допомогою однофазного реле напруги?">
                            </div>

                            <div class="category-gallery__item-banner__cat">
                                <span class="advice-item">Поради</span>
                            </div>

                            <div class="category-gallery__item-banner__info">
                                <div class="info-watch">
                                    <div class="info-watch__thumb">
                                        <img src="./img/watchBanner-img.svg" alt="Watch">
                                    </div>
                                    <span>547</span>
                                </div>

                                <div class="info-date">
                                    <span>24.07.2023</span>
                                </div>
                            </div>

                            <div class="category-gallery__item-banner__overlay"></div>
                        </div>

                        <div class="category-gallery__item-descr">
                            <p>
                                Як забезпечити захист електроприладів за допомогою однофазного реле напруги?
                            </p>
                        </div>

                        <div class="category-gallery__item-link">
                            <a href="#!">
                                Детальніше
                            </a>
                        </div>
                    </div>

                    <!-- 2 -->
                    <div class="category-gallery__item">
                        <div class="category-gallery__item-banner">
                            <div class="category-gallery__item-banner__img">
                                <img src="./img/blogMainImg-2.jpg"
                                    alt="Як вирішити проблему автоматизації контролю рівня рідини в резервуарі">
                            </div>

                            <div class="category-gallery__item-banner__cat">
                                <span class="work-item">На підприємстві</span>
                            </div>

                            <div class="category-gallery__item-banner__info">
                                <div class="info-watch">
                                    <div class="info-watch__thumb">
                                        <img src="./img/watchBanner-img.svg" alt="Watch">
                                    </div>
                                    <span>341</span>
                                </div>

                                <div class="info-date">
                                    <span>22.07.2023</span>
                                </div>
                            </div>

                            <div class="category-gallery__item-banner__overlay"></div>
                        </div>

                        <div class="category-gallery__item-descr">
                            <p>
                                Як вирішити проблему автоматизації контролю рівня рідини в резервуарі
                            </p>
                        </div>

                        <div class="category-gallery__item-link">
                            <a href="#!">
                                Детальніше
                            </a>
                        </div>
                    </div>

                    <!-- 3 -->
                    <div class="category-gallery__item">
                        <div class="category-gallery__item-banner">
                            <div class="category-gallery__item-banner__img">
                                <img src="./img/blogMainImg-3.jpg"
                                    alt="Контролери віддаленого управління – майбутнє вже сьогодні">
                            </div>

                            <div class="category-gallery__item-banner__cat">
                                <span class="home-item">Для дому</span>
                            </div>

                            <div class="category-gallery__item-banner__info">
                                <div class="info-watch">
                                    <div class="info-watch__thumb">
                                        <img src="./img/watchBanner-img.svg" alt="Watch">
                                    </div>
                                    <span>434</span>
                                </div>

                                <div class="info-date">
                                    <span>12.07.2023</span>
                                </div>
                            </div>

                            <div class="category-gallery__item-banner__overlay"></div>
                        </div>

                        <div class="category-gallery__item-descr">
                            <p>
                                Контролери віддаленого управління – майбутнє вже сьогодні
                            </p>
                        </div>

                        <div class="category-gallery__item-link">
                            <a href="#!">
                                Детальніше
                            </a>
                        </div>
                    </div>

                    <div class="category-gallery__item">
                        <div class="category-gallery__item-banner">
                            <div class="category-gallery__item-banner__img">
                                <img src="./img/blogMainImg-1.jpg"
                                    alt="Як забезпечити захист електроприладів за допомогою однофазного реле напруги?">
                            </div>

                            <div class="category-gallery__item-banner__cat">
                                <span class="instruction-item">Інстуркції</span>
                            </div>

                            <div class="category-gallery__item-banner__info">
                                <div class="info-watch">
                                    <div class="info-watch__thumb">
                                        <img src="./img/watchBanner-img.svg" alt="Watch">
                                    </div>
                                    <span>547</span>
                                </div>

                                <div class="info-date">
                                    <span>24.07.2023</span>
                                </div>
                            </div>

                            <div class="category-gallery__item-banner__overlay"></div>
                        </div>

                        <div class="category-gallery__item-descr">
                            <p>
                                Як забезпечити захист електроприладів за допомогою однофазного реле напруги?
                            </p>
                        </div>

                        <div class="category-gallery__item-link">
                            <a href="#!">
                                Детальніше
                            </a>
                        </div>
                    </div>

                    <!-- 2 -->
                    <div class="category-gallery__item">
                        <div class="category-gallery__item-banner">
                            <div class="category-gallery__item-banner__img">
                                <img src="./img/blogMainImg-2.jpg"
                                    alt="Як вирішити проблему автоматизації контролю рівня рідини в резервуарі">
                            </div>

                            <div class="category-gallery__item-banner__cat">
                                <span class="work-item">На підприємстві</span>
                            </div>

                            <div class="category-gallery__item-banner__info">
                                <div class="info-watch">
                                    <div class="info-watch__thumb">
                                        <img src="./img/watchBanner-img.svg" alt="Watch">
                                    </div>
                                    <span>341</span>
                                </div>

                                <div class="info-date">
                                    <span>22.07.2023</span>
                                </div>
                            </div>

                            <div class="category-gallery__item-banner__overlay"></div>
                        </div>

                        <div class="category-gallery__item-descr">
                            <p>
                                Як вирішити проблему автоматизації контролю рівня рідини в резервуарі
                            </p>
                        </div>

                        <div class="category-gallery__item-link">
                            <a href="#!">
                                Детальніше
                            </a>
                        </div>
                    </div>

                    <!-- 3 -->
                    <div class="category-gallery__item">
                        <div class="category-gallery__item-banner">
                            <div class="category-gallery__item-banner__img">
                                <img src="./img/blogMainImg-3.jpg"
                                    alt="Контролери віддаленого управління – майбутнє вже сьогодні">
                            </div>

                            <div class="category-gallery__item-banner__cat">
                                <span class="home-item">Для дому</span>
                            </div>

                            <div class="category-gallery__item-banner__info">
                                <div class="info-watch">
                                    <div class="info-watch__thumb">
                                        <img src="./img/watchBanner-img.svg" alt="Watch">
                                    </div>
                                    <span>434</span>
                                </div>

                                <div class="info-date">
                                    <span>12.07.2023</span>
                                </div>
                            </div>

                            <div class="category-gallery__item-banner__overlay"></div>
                        </div>

                        <div class="category-gallery__item-descr">
                            <p>
                                Контролери віддаленого управління – майбутнє вже сьогодні
                            </p>
                        </div>

                        <div class="category-gallery__item-link">
                            <a href="#!">
                                Детальніше
                            </a>
                        </div>
                    </div>

                    <div class="category-gallery__item">
                        <div class="category-gallery__item-banner">
                            <div class="category-gallery__item-banner__img">
                                <img src="./img/blogMainImg-1.jpg"
                                    alt="Як забезпечити захист електроприладів за допомогою однофазного реле напруги?">
                            </div>

                            <div class="category-gallery__item-banner__cat">
                                <span class="advice-item">Поради</span>
                            </div>

                            <div class="category-gallery__item-banner__info">
                                <div class="info-watch">
                                    <div class="info-watch__thumb">
                                        <img src="./img/watchBanner-img.svg" alt="Watch">
                                    </div>
                                    <span>547</span>
                                </div>

                                <div class="info-date">
                                    <span>24.07.2023</span>
                                </div>
                            </div>

                            <div class="category-gallery__item-banner__overlay"></div>
                        </div>

                        <div class="category-gallery__item-descr">
                            <p>
                                Як забезпечити захист електроприладів за допомогою однофазного реле напруги?
                            </p>
                        </div>

                        <div class="category-gallery__item-link">
                            <a href="#!">
                                Детальніше
                            </a>
                        </div>
                    </div>

                    <!-- 2 -->
                    <div class="category-gallery__item">
                        <div class="category-gallery__item-banner">
                            <div class="category-gallery__item-banner__img">
                                <img src="./img/blogMainImg-2.jpg"
                                    alt="Як вирішити проблему автоматизації контролю рівня рідини в резервуарі">
                            </div>

                            <div class="category-gallery__item-banner__cat">
                                <span class="work-item">На підприємстві</span>
                            </div>

                            <div class="category-gallery__item-banner__info">
                                <div class="info-watch">
                                    <div class="info-watch__thumb">
                                        <img src="./img/watchBanner-img.svg" alt="Watch">
                                    </div>
                                    <span>341</span>
                                </div>

                                <div class="info-date">
                                    <span>22.07.2023</span>
                                </div>
                            </div>

                            <div class="category-gallery__item-banner__overlay"></div>
                        </div>

                        <div class="category-gallery__item-descr">
                            <p>
                                Як вирішити проблему автоматизації контролю рівня рідини в резервуарі
                            </p>
                        </div>

                        <div class="category-gallery__item-link">
                            <a href="#!">
                                Детальніше
                            </a>
                        </div>
                    </div>

                    <!-- 3 -->
                    <div class="category-gallery__item">
                        <div class="category-gallery__item-banner">
                            <div class="category-gallery__item-banner__img">
                                <img src="./img/blogMainImg-3.jpg"
                                    alt="Контролери віддаленого управління – майбутнє вже сьогодні">
                            </div>

                            <div class="category-gallery__item-banner__cat">
                                <span class="home-item">Для дому</span>
                            </div>

                            <div class="category-gallery__item-banner__info">
                                <div class="info-watch">
                                    <div class="info-watch__thumb">
                                        <img src="./img/watchBanner-img.svg" alt="Watch">
                                    </div>
                                    <span>434</span>
                                </div>

                                <div class="info-date">
                                    <span>12.07.2023</span>
                                </div>
                            </div>

                            <div class="category-gallery__item-banner__overlay"></div>
                        </div>

                        <div class="category-gallery__item-descr">
                            <p>
                                Контролери віддаленого управління – майбутнє вже сьогодні
                            </p>
                        </div>

                        <div class="category-gallery__item-link">
                            <a href="#!">
                                Детальніше
                            </a>
                        </div>
                    </div>

                    <div class="category-gallery__item">
                        <div class="category-gallery__item-banner">
                            <div class="category-gallery__item-banner__img">
                                <img src="./img/blogMainImg-1.jpg"
                                    alt="Як забезпечити захист електроприладів за допомогою однофазного реле напруги?">
                            </div>

                            <div class="category-gallery__item-banner__cat">
                                <span class="advice-item">Поради</span>
                            </div>

                            <div class="category-gallery__item-banner__info">
                                <div class="info-watch">
                                    <div class="info-watch__thumb">
                                        <img src="./img/watchBanner-img.svg" alt="Watch">
                                    </div>
                                    <span>547</span>
                                </div>

                                <div class="info-date">
                                    <span>24.07.2023</span>
                                </div>
                            </div>

                            <div class="category-gallery__item-banner__overlay"></div>
                        </div>

                        <div class="category-gallery__item-descr">
                            <p>
                                Як забезпечити захист електроприладів за допомогою однофазного реле напруги?
                            </p>
                        </div>

                        <div class="category-gallery__item-link">
                            <a href="#!">
                                Детальніше
                            </a>
                        </div>
                    </div>

                    <!-- 2 -->
                    <div class="category-gallery__item">
                        <div class="category-gallery__item-banner">
                            <div class="category-gallery__item-banner__img">
                                <img src="./img/blogMainImg-2.jpg"
                                    alt="Як вирішити проблему автоматизації контролю рівня рідини в резервуарі">
                            </div>

                            <div class="category-gallery__item-banner__cat">
                                <span class="work-item">На підприємстві</span>
                            </div>

                            <div class="category-gallery__item-banner__info">
                                <div class="info-watch">
                                    <div class="info-watch__thumb">
                                        <img src="./img/watchBanner-img.svg" alt="Watch">
                                    </div>
                                    <span>341</span>
                                </div>

                                <div class="info-date">
                                    <span>22.07.2023</span>
                                </div>
                            </div>

                            <div class="category-gallery__item-banner__overlay"></div>
                        </div>

                        <div class="category-gallery__item-descr">
                            <p>
                                Як вирішити проблему автоматизації контролю рівня рідини в резервуарі
                            </p>
                        </div>

                        <div class="category-gallery__item-link">
                            <a href="#!">
                                Детальніше
                            </a>
                        </div>
                    </div>

                    <!-- 3 -->
                    <div class="category-gallery__item">
                        <div class="category-gallery__item-banner">
                            <div class="category-gallery__item-banner__img">
                                <img src="./img/blogMainImg-3.jpg"
                                    alt="Контролери віддаленого управління – майбутнє вже сьогодні">
                            </div>

                            <div class="category-gallery__item-banner__cat">
                                <span class="home-item">Для дому</span>
                            </div>

                            <div class="category-gallery__item-banner__info">
                                <div class="info-watch">
                                    <div class="info-watch__thumb">
                                        <img src="./img/watchBanner-img.svg" alt="Watch">
                                    </div>
                                    <span>434</span>
                                </div>

                                <div class="info-date">
                                    <span>12.07.2023</span>
                                </div>
                            </div>

                            <div class="category-gallery__item-banner__overlay"></div>
                        </div>

                        <div class="category-gallery__item-descr">
                            <p>
                                Контролери віддаленого управління – майбутнє вже сьогодні
                            </p>
                        </div>

                        <div class="category-gallery__item-link">
                            <a href="#!">
                                Детальніше
                            </a>
                        </div>
                    </div>
                </div>

                <div class="blog__item-pagination unvisible-blog">
                    <div class="category-gallery__item">
                        <div class="category-gallery__item-banner">
                            <div class="category-gallery__item-banner__img">
                                <img src="./img/blogMainImg-1.jpg"
                                    alt="Як забезпечити захист електроприладів за допомогою однофазного реле напруги?">
                            </div>

                            <div class="category-gallery__item-banner__cat">
                                <span class="advice-item">Поради</span>
                            </div>

                            <div class="category-gallery__item-banner__info">
                                <div class="info-watch">
                                    <div class="info-watch__thumb">
                                        <img src="./img/watchBanner-img.svg" alt="Watch">
                                    </div>
                                    <span>547</span>
                                </div>

                                <div class="info-date">
                                    <span>24.07.2023</span>
                                </div>
                            </div>

                            <div class="category-gallery__item-banner__overlay"></div>
                        </div>

                        <div class="category-gallery__item-descr">
                            <p>
                                Як забезпечити захист електроприладів за допомогою однофазного реле напруги?
                            </p>
                        </div>

                        <div class="category-gallery__item-link">
                            <a href="#!">
                                Детальніше
                            </a>
                        </div>
                    </div>

                    <div class="category-gallery__item">
                        <div class="category-gallery__item-banner">
                            <div class="category-gallery__item-banner__img">
                                <img src="./img/blogMainImg-2.jpg"
                                    alt="Як вирішити проблему автоматизації контролю рівня рідини в резервуарі">
                            </div>

                            <div class="category-gallery__item-banner__cat">
                                <span class="work-item">На підприємстві</span>

                            </div>

                            <div class="category-gallery__item-banner__info">
                                <div class="info-watch">
                                    <div class="info-watch__thumb">
                                        <img src="./img/watchBanner-img.svg" alt="Watch">
                                    </div>
                                    <span>341</span>
                                </div>

                                <div class="info-date">
                                    <span>22.07.2023</span>
                                </div>
                            </div>

                            <div class="category-gallery__item-banner__overlay"></div>
                        </div>

                        <div class="category-gallery__item-descr">
                            <p>
                                Як вирішити проблему автоматизації контролю рівня рідини в резервуарі
                            </p>
                        </div>

                        <div class="category-gallery__item-link">
                            <a href="#!">
                                Детальніше
                            </a>
                        </div>
                    </div>

                    <div class="category-gallery__item">
                        <div class="category-gallery__item-banner">
                            <div class="category-gallery__item-banner__img">
                                <img src="./img/blogMainImg-2.jpg"
                                    alt="Як вирішити проблему автоматизації контролю рівня рідини в резервуарі">
                            </div>

                            <div class="category-gallery__item-banner__cat">
                                <span class="work-item">На підприємстві</span>

                            </div>

                            <div class="category-gallery__item-banner__info">
                                <div class="info-watch">
                                    <div class="info-watch__thumb">
                                        <img src="./img/watchBanner-img.svg" alt="Watch">
                                    </div>
                                    <span>341</span>
                                </div>

                                <div class="info-date">
                                    <span>22.07.2023</span>
                                </div>
                            </div>

                            <div class="category-gallery__item-banner__overlay"></div>
                        </div>

                        <div class="category-gallery__item-descr">
                            <p>
                                Як вирішити проблему автоматизації контролю рівня рідини в резервуарі
                            </p>
                        </div>

                        <div class="category-gallery__item-link">
                            <a href="#!">
                                Детальніше
                            </a>
                        </div>
                    </div>

                    <div class="category-gallery__item">
                        <div class="category-gallery__item-banner">
                            <div class="category-gallery__item-banner__img">
                                <img src="./img/blogMainImg-2.jpg"
                                    alt="Як вирішити проблему автоматизації контролю рівня рідини в резервуарі">
                            </div>

                            <div class="category-gallery__item-banner__cat">
                                <span class="work-item">На підприємстві</span>

                            </div>

                            <div class="category-gallery__item-banner__info">
                                <div class="info-watch">
                                    <div class="info-watch__thumb">
                                        <img src="./img/watchBanner-img.svg" alt="Watch">
                                    </div>
                                    <span>341</span>
                                </div>

                                <div class="info-date">
                                    <span>22.07.2023</span>
                                </div>
                            </div>

                            <div class="category-gallery__item-banner__overlay"></div>
                        </div>

                        <div class="category-gallery__item-descr">
                            <p>
                                Як вирішити проблему автоматизації контролю рівня рідини в резервуарі
                            </p>
                        </div>

                        <div class="category-gallery__item-link">
                            <a href="#!">
                                Детальніше
                            </a>
                        </div>
                    </div>
                </div>

                <div class="blog__item-pagination unvisible-blog">
                    <div class="category-gallery__item">
                        <div class="category-gallery__item-banner">
                            <div class="category-gallery__item-banner__img">
                                <img src="./img/blogMainImg-2.jpg"
                                    alt="Як вирішити проблему автоматизації контролю рівня рідини в резервуарі">
                            </div>

                            <div class="category-gallery__item-banner__cat">
                                <span class="work-item">На підприємстві</span>

                            </div>

                            <div class="category-gallery__item-banner__info">
                                <div class="info-watch">
                                    <div class="info-watch__thumb">
                                        <img src="./img/watchBanner-img.svg" alt="Watch">
                                    </div>
                                    <span>341</span>
                                </div>

                                <div class="info-date">
                                    <span>22.07.2023</span>
                                </div>
                            </div>

                            <div class="category-gallery__item-banner__overlay"></div>
                        </div>

                        <div class="category-gallery__item-descr">
                            <p>
                                Як вирішити проблему автоматизації контролю рівня рідини в резервуарі
                            </p>
                        </div>

                        <div class="category-gallery__item-link">
                            <a href="#!">
                                Детальніше
                            </a>
                        </div>
                    </div>
                </div>

                <div class="blog-pagination pagination">
                    <button class="page-arrow prev-page">
                        <svg width="19" height="15" viewBox="0 0 19 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M8.40495 0.344979C8.5454 0.485604 8.62429 0.67623 8.62429 0.87498C8.62429 1.07373 8.5454 1.26436 8.40495 1.40498L3.43495 6.37498L17.875 6.37498C18.0739 6.37498 18.2646 6.454 18.4053 6.59465C18.5459 6.7353 18.625 6.92607 18.625 7.12498C18.625 7.32389 18.5459 7.51466 18.4053 7.65531C18.2646 7.79596 18.0739 7.87498 17.875 7.87498L3.43495 7.87498L8.40495 12.845C8.50367 12.9367 8.57585 13.0533 8.61386 13.1825C8.65187 13.3118 8.65432 13.4489 8.62095 13.5794C8.58758 13.7099 8.51962 13.829 8.42423 13.9242C8.32884 14.0193 8.20956 14.0869 8.07895 14.12C7.94857 14.1534 7.8116 14.1511 7.68244 14.1132C7.55328 14.0754 7.43669 14.0035 7.34495 13.905L1.09495 7.65498C0.9545 7.51435 0.87561 7.32373 0.87561 7.12498C0.87561 6.92623 0.9545 6.73561 1.09495 6.59498L7.34495 0.344979C7.48558 0.204529 7.6762 0.12564 7.87495 0.12564C8.0737 0.12564 8.26432 0.204529 8.40495 0.344979Z"
                                fill="#C8C8C8" />
                        </svg>

                    </button>
                    <button class="page-button active" data-page="1">1</button>
                    <button class="page-button" data-page="2">2</button>
                    <button class="page-button" data-page="3">3</button>
                    <button class="page-arrow next-page">
                        <svg width="19" height="15" viewBox="0 0 19 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M10.5949 14.655C10.4545 14.5144 10.3756 14.3238 10.3756 14.125C10.3756 13.9263 10.4545 13.7356 10.5949 13.595L15.5649 8.62502L1.12493 8.62502C0.926016 8.62502 0.735248 8.546 0.594597 8.40535C0.453945 8.2647 0.374927 8.07393 0.374927 7.87502C0.374927 7.67611 0.453945 7.48534 0.594597 7.34469C0.735248 7.20404 0.926016 7.12502 1.12493 7.12502L15.5649 7.12502L10.5949 2.15502C10.4962 2.06335 10.424 1.94675 10.386 1.8175C10.348 1.68825 10.3456 1.55114 10.3789 1.42061C10.4123 1.29009 10.4803 1.17098 10.5756 1.07584C10.671 0.980705 10.7903 0.913054 10.9209 0.88002C11.0513 0.846604 11.1883 0.848935 11.3174 0.886769C11.4466 0.924603 11.5632 0.996541 11.6549 1.09502L17.9049 7.34502C18.0454 7.48565 18.1243 7.67627 18.1243 7.87502C18.1243 8.07377 18.0454 8.26439 17.9049 8.40502L11.6549 14.655C11.5143 14.7955 11.3237 14.8744 11.1249 14.8744C10.9262 14.8744 10.7356 14.7955 10.5949 14.655Z"
                                fill="#C8C8C8" />
                        </svg>

                    </button>
                </div>

            </div>
            <!-- all item -->

            <!-- home item -->
            <div class="home-filters home-category blog__main-content__category-gallery">

                <!-- 1 -->
                <div class="category-gallery__item">
                    <div class="category-gallery__item-banner">
                        <div class="category-gallery__item-banner__img">
                            <img src="./img/blogMainImg-1.jpg"
                                alt="Як забезпечити захист електроприладів за допомогою однофазного реле напруги?">
                        </div>

                        <div class="category-gallery__item-banner__cat">
                            <span class="home-item">Для дому</span>
                        </div>

                        <div class="category-gallery__item-banner__info">
                            <div class="info-watch">
                                <div class="info-watch__thumb">
                                    <img src="./img/watchBanner-img.svg" alt="Watch">
                                </div>
                                <span>547</span>
                            </div>

                            <div class="info-date">
                                <span>24.07.2023</span>
                            </div>
                        </div>

                        <div class="category-gallery__item-banner__overlay"></div>
                    </div>

                    <div class="category-gallery__item-descr">
                        <p>
                            Як забезпечити захист електроприладів за допомогою однофазного реле напруги?
                        </p>
                    </div>

                    <div class="category-gallery__item-link">
                        <a href="#!">
                            Детальніше
                        </a>
                    </div>
                </div>

                <div class="category-gallery__item">
                    <div class="category-gallery__item-banner">
                        <div class="category-gallery__item-banner__img">
                            <img src="./img/blogMainImg-1.jpg"
                                alt="Як забезпечити захист електроприладів за допомогою однофазного реле напруги?">
                        </div>

                        <div class="category-gallery__item-banner__cat">
                            <span class="home-item">Для дому</span>
                        </div>

                        <div class="category-gallery__item-banner__info">
                            <div class="info-watch">
                                <div class="info-watch__thumb">
                                    <img src="./img/watchBanner-img.svg" alt="Watch">
                                </div>
                                <span>547</span>
                            </div>

                            <div class="info-date">
                                <span>24.07.2023</span>
                            </div>
                        </div>

                        <div class="category-gallery__item-banner__overlay"></div>
                    </div>

                    <div class="category-gallery__item-descr">
                        <p>
                            Як забезпечити захист електроприладів за допомогою однофазного реле напруги?
                        </p>
                    </div>

                    <div class="category-gallery__item-link">
                        <a href="#!">
                            Детальніше
                        </a>
                    </div>
                </div>

                <!-- 2 -->
                <div class="category-gallery__item">
                    <div class="category-gallery__item-banner">
                        <div class="category-gallery__item-banner__img">
                            <img src="./img/blogMainImg-2.jpg"
                                alt="Як вирішити проблему автоматизації контролю рівня рідини в резервуарі">
                        </div>

                        <div class="category-gallery__item-banner__cat">
                            <span class="home-item">Для дому</span>

                        </div>

                        <div class="category-gallery__item-banner__info">
                            <div class="info-watch">
                                <div class="info-watch__thumb">
                                    <img src="./img/watchBanner-img.svg" alt="Watch">
                                </div>
                                <span>341</span>
                            </div>

                            <div class="info-date">
                                <span>22.07.2023</span>
                            </div>
                        </div>

                        <div class="category-gallery__item-banner__overlay"></div>
                    </div>

                    <div class="category-gallery__item-descr">
                        <p>
                            Як вирішити проблему автоматизації контролю рівня рідини в резервуарі
                        </p>
                    </div>

                    <div class="category-gallery__item-link">
                        <a href="#!">
                            Детальніше
                        </a>
                    </div>
                </div>

                <!-- 3 -->
                <div class="category-gallery__item">
                    <div class="category-gallery__item-banner">
                        <div class="category-gallery__item-banner__img">
                            <img src="./img/blogMainImg-3.jpg"
                                alt="Контролери віддаленого управління – майбутнє вже сьогодні">
                        </div>

                        <div class="category-gallery__item-banner__cat">
                            <span class="home-item">Для дому</span>
                        </div>

                        <div class="category-gallery__item-banner__info">
                            <div class="info-watch">
                                <div class="info-watch__thumb">
                                    <img src="./img/watchBanner-img.svg" alt="Watch">
                                </div>
                                <span>434</span>
                            </div>

                            <div class="info-date">
                                <span>12.07.2023</span>
                            </div>
                        </div>

                        <div class="category-gallery__item-banner__overlay"></div>
                    </div>

                    <div class="category-gallery__item-descr">
                        <p>
                            Контролери віддаленого управління – майбутнє вже сьогодні
                        </p>
                    </div>

                    <div class="category-gallery__item-link">
                        <a href="#!">
                            Детальніше
                        </a>
                    </div>
                </div>



            </div>
            <!-- home item -->

            <!-- work item -->
            <div class="work-filters work-category blog__main-content__category-gallery">

                <!-- 2 -->
                <div class="category-gallery__item">
                    <div class="category-gallery__item-banner">
                        <div class="category-gallery__item-banner__img">
                            <img src="./img/blogMainImg-2.jpg"
                                alt="Як вирішити проблему автоматизації контролю рівня рідини в резервуарі">
                        </div>

                        <div class="category-gallery__item-banner__cat">
                            <span class="work-item">На підприємстві</span>

                        </div>

                        <div class="category-gallery__item-banner__info">
                            <div class="info-watch">
                                <div class="info-watch__thumb">
                                    <img src="./img/watchBanner-img.svg" alt="Watch">
                                </div>
                                <span>341</span>
                            </div>

                            <div class="info-date">
                                <span>22.07.2023</span>
                            </div>
                        </div>

                        <div class="category-gallery__item-banner__overlay"></div>
                    </div>

                    <div class="category-gallery__item-descr">
                        <p>
                            Як вирішити проблему автоматизації контролю рівня рідини в резервуарі
                        </p>
                    </div>

                    <div class="category-gallery__item-link">
                        <a href="#!">
                            Детальніше
                        </a>
                    </div>
                </div>

                <!-- 3 -->
                <div class="category-gallery__item">
                    <div class="category-gallery__item-banner">
                        <div class="category-gallery__item-banner__img">
                            <img src="./img/blogMainImg-3.jpg"
                                alt="Контролери віддаленого управління – майбутнє вже сьогодні">
                        </div>

                        <div class="category-gallery__item-banner__cat">
                            <span class="work-item">На підприємстві</span>
                        </div>

                        <div class="category-gallery__item-banner__info">
                            <div class="info-watch">
                                <div class="info-watch__thumb">
                                    <img src="./img/watchBanner-img.svg" alt="Watch">
                                </div>
                                <span>434</span>
                            </div>

                            <div class="info-date">
                                <span>12.07.2023</span>
                            </div>
                        </div>

                        <div class="category-gallery__item-banner__overlay"></div>
                    </div>

                    <div class="category-gallery__item-descr">
                        <p>
                            Контролери віддаленого управління – майбутнє вже сьогодні
                        </p>
                    </div>

                    <div class="category-gallery__item-link">
                        <a href="#!">
                            Детальніше
                        </a>
                    </div>
                </div>



            </div>
            <!-- work item -->

            <!-- advice item -->
            <div class="advice-filters advice-category blog__main-content__category-gallery">

                <!-- 1 -->
                <div class="category-gallery__item">
                    <div class="category-gallery__item-banner">
                        <div class="category-gallery__item-banner__img">
                            <img src="./img/blogMainImg-1.jpg"
                                alt="Як забезпечити захист електроприладів за допомогою однофазного реле напруги?">
                        </div>

                        <div class="category-gallery__item-banner__cat">
                            <span class="advice-item">Поради</span>
                        </div>

                        <div class="category-gallery__item-banner__info">
                            <div class="info-watch">
                                <div class="info-watch__thumb">
                                    <img src="./img/watchBanner-img.svg" alt="Watch">
                                </div>
                                <span>547</span>
                            </div>

                            <div class="info-date">
                                <span>24.07.2023</span>
                            </div>
                        </div>

                        <div class="category-gallery__item-banner__overlay"></div>
                    </div>

                    <div class="category-gallery__item-descr">
                        <p>
                            Як забезпечити захист електроприладів за допомогою однофазного реле напруги?
                        </p>
                    </div>

                    <div class="category-gallery__item-link">
                        <a href="#!">
                            Детальніше
                        </a>
                    </div>
                </div>

                <!-- 2 -->
                <div class="category-gallery__item">
                    <div class="category-gallery__item-banner">
                        <div class="category-gallery__item-banner__img">
                            <img src="./img/blogMainImg-2.jpg"
                                alt="Як вирішити проблему автоматизації контролю рівня рідини в резервуарі">
                        </div>

                        <div class="category-gallery__item-banner__cat">
                            <span class="advice-item">Поради</span>

                        </div>

                        <div class="category-gallery__item-banner__info">
                            <div class="info-watch">
                                <div class="info-watch__thumb">
                                    <img src="./img/watchBanner-img.svg" alt="Watch">
                                </div>
                                <span>341</span>
                            </div>

                            <div class="info-date">
                                <span>22.07.2023</span>
                            </div>
                        </div>

                        <div class="category-gallery__item-banner__overlay"></div>
                    </div>

                    <div class="category-gallery__item-descr">
                        <p>
                            Як вирішити проблему автоматизації контролю рівня рідини в резервуарі
                        </p>
                    </div>

                    <div class="category-gallery__item-link">
                        <a href="#!">
                            Детальніше
                        </a>
                    </div>
                </div>

                <!-- 3 -->
                <div class="category-gallery__item">
                    <div class="category-gallery__item-banner">
                        <div class="category-gallery__item-banner__img">
                            <img src="./img/blogMainImg-3.jpg"
                                alt="Контролери віддаленого управління – майбутнє вже сьогодні">
                        </div>

                        <div class="category-gallery__item-banner__cat">
                            <span class="advice-item">Поради</span>
                        </div>

                        <div class="category-gallery__item-banner__info">
                            <div class="info-watch">
                                <div class="info-watch__thumb">
                                    <img src="./img/watchBanner-img.svg" alt="Watch">
                                </div>
                                <span>434</span>
                            </div>

                            <div class="info-date">
                                <span>12.07.2023</span>
                            </div>
                        </div>

                        <div class="category-gallery__item-banner__overlay"></div>
                    </div>

                    <div class="category-gallery__item-descr">
                        <p>
                            Контролери віддаленого управління – майбутнє вже сьогодні
                        </p>
                    </div>

                    <div class="category-gallery__item-link">
                        <a href="#!">
                            Детальніше
                        </a>
                    </div>
                </div>



            </div>
            <!-- advice item -->

            <!-- instruction item -->
            <div class="instruction-filters instruction-category blog__main-content__category-gallery">

                <!-- 1 -->
                <div class="category-gallery__item">
                    <div class="category-gallery__item-banner">
                        <div class="category-gallery__item-banner__img">
                            <img src="./img/blogMainImg-1.jpg"
                                alt="Як забезпечити захист електроприладів за допомогою однофазного реле напруги?">
                        </div>

                        <div class="category-gallery__item-banner__cat">
                            <span class="instruction-item">Інструкції</span>
                        </div>

                        <div class="category-gallery__item-banner__info">
                            <div class="info-watch">
                                <div class="info-watch__thumb">
                                    <img src="./img/watchBanner-img.svg" alt="Watch">
                                </div>
                                <span>547</span>
                            </div>

                            <div class="info-date">
                                <span>24.07.2023</span>
                            </div>
                        </div>

                        <div class="category-gallery__item-banner__overlay"></div>
                    </div>

                    <div class="category-gallery__item-descr">
                        <p>
                            Як забезпечити захист електроприладів за допомогою однофазного реле напруги?
                        </p>
                    </div>

                    <div class="category-gallery__item-link">
                        <a href="#!">
                            Детальніше
                        </a>
                    </div>
                </div>

                <!-- 2 -->
                <div class="category-gallery__item">
                    <div class="category-gallery__item-banner">
                        <div class="category-gallery__item-banner__img">
                            <img src="./img/blogMainImg-2.jpg"
                                alt="Як вирішити проблему автоматизації контролю рівня рідини в резервуарі">
                        </div>

                        <div class="category-gallery__item-banner__cat">
                            <span class="instruction-item">Інструкції</span>

                        </div>

                        <div class="category-gallery__item-banner__info">
                            <div class="info-watch">
                                <div class="info-watch__thumb">
                                    <img src="./img/watchBanner-img.svg" alt="Watch">
                                </div>
                                <span>341</span>
                            </div>

                            <div class="info-date">
                                <span>22.07.2023</span>
                            </div>
                        </div>

                        <div class="category-gallery__item-banner__overlay"></div>
                    </div>

                    <div class="category-gallery__item-descr">
                        <p>
                            Як вирішити проблему автоматизації контролю рівня рідини в резервуарі
                        </p>
                    </div>

                    <div class="category-gallery__item-link">
                        <a href="#!">
                            Детальніше
                        </a>
                    </div>
                </div>

                <!-- 3 -->
                <div class="category-gallery__item">
                    <div class="category-gallery__item-banner">
                        <div class="category-gallery__item-banner__img">
                            <img src="./img/blogMainImg-3.jpg"
                                alt="Контролери віддаленого управління – майбутнє вже сьогодні">
                        </div>

                        <div class="category-gallery__item-banner__cat">
                            <span class="instruction-item">Інструкції</span>
                        </div>

                        <div class="category-gallery__item-banner__info">
                            <div class="info-watch">
                                <div class="info-watch__thumb">
                                    <img src="./img/watchBanner-img.svg" alt="Watch">
                                </div>
                                <span>434</span>
                            </div>

                            <div class="info-date">
                                <span>12.07.2023</span>
                            </div>
                        </div>

                        <div class="category-gallery__item-banner__overlay"></div>
                    </div>

                    <div class="category-gallery__item-descr">
                        <p>
                            Контролери віддаленого управління – майбутнє вже сьогодні
                        </p>
                    </div>

                    <div class="category-gallery__item-link">
                        <a href="#!">
                            Детальніше
                        </a>
                    </div>
                </div>



            </div>
            <!-- instruction item -->

        </div>
    </div>
</section>