<section class="news__article">
  <div class="container">
    <div class="news__article-bread">
      <p>
        Головна - Новини - Зустрічайте цікаву та зручную сторінку, присвячену
        ЕМ-130
      </p>
    </div>

    <div class="news__article-content">
      <div class="news__article-content__title">
        <h1>Зустрічайте цікаву та зручную сторінку, присвячену ЕМ-130</h1>
      </div>

      <div class="news__article-content__thumb">
        <img
          src="./img/newsBanner-1.jpg"
          alt="Зустрічайте цікаву та зручную сторінку, присвячену ЕМ-130"
        />
      </div>

      <div class="news__article-content__subtitle">
        <h3>
          Астрономічний таймер із віддаленим доступом та online-диспетчерською
        </h3>
      </div>

      <div class="news__article-content__description">
        <p>
          “Новатек-Електро” – пропонує сучасне рішення для керування
          освітленням. Завдяки широкому вибору налаштувань, ви зможете
          забезпечити комфортне управління світлом на вулицях міста, вітринах
          магазинів, рекламних білбордах, парковках, прибудинкових територіях,
          фасадах будівель та багатьох інших завданнях зовнішнього освітлення.
          Відвідайте нашу
          <a href="#!">нову сторінку</a>
          щоб детальніше дізнатись про інтелектуальне керування освітленням від
          Новатек-Електро.
        </p>
      </div>

      <div class="news__article-content__link">
        <a href="#!">
          <span> Посилання на нову сторінку </span>
        </a>
      </div>

      <div class="news__article-content__contact">
        <p>З усіх питань звертайтесь до менеджера за телефонами:</p>
      </div>

      <div class="news__article-content__contact-link">
        <a href="tel:380675653768"> +38 (067) 565-37-68 </a>

        <a href="tel:+380503593911"> +38 (050) 359-39-11 </a>

        <a href="tel:+380633013040"> +38 (063) 301-30-40 </a>
      </div>
    </div>
  </div>
</section>
