$font-family: "ProDisplay", sans-serif;

//color
$descr-color: #6b6b6b;
$title-color: #000;
$active-link: #014e86;
$bg-color: #f8f8f8;
$dark-grey: #6b6b6b;
$bread-color: #a0a0a0;

$cart-done: #54bf3c;
$cart-hover: #feb92f;

$color-blue: #014e86;

$new-bg: #54bf3c;
$in-stock: #54bf3c;
$promo-bg: #ff0000;
$sale-bg: #014e86;
$filmed-color: #ff0000;
$filmed-item: #a0a0a0;
$filmed-btn: #c8c8c8;
$discount-bg: #feb92f;
$coop-bg: #54bf3c;
$more-bg: #feb92f;

$tooltip-bg: #89acf2;
